@import url("../css/fonts.css");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  background: #fff;
  height: 100%;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.wrap {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  cursor: default;
  font-size: 12px;
  line-height: normal;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

section,
header,
footer {
  display: block;
  position: relative;
}

.container {
  zoom: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

a {
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  position: relative;
  display: block;
  outline: none;
  font-family: 'OpenSans', sans-serif;
}

.section-pick-up-point {
  padding-top: 30px;
  padding-bottom: 30px;
}

.h1-title {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.point {
  margin-top: 40px;
  display: grid;
  grid-template-columns: minmax(300px, 400px) 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 20px;
}

.point__col.active .point__search-by-address {
  display: none;
}

.point__col.active .point__come-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.point__col:nth-child(2) {
  position: relative;
  min-height: 450px;
}

.point__col:nth-child(2):before {
  content: "";
  display: block;
  padding-top: 60%;
}

.point__come-back {
  cursor: pointer;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  color: #41b5ec;
}

.point__come-back:before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background: url("../img/svgicon/sprite.svg#arrowback") no-repeat center;
  background-size: contain;
  margin-right: 5px;
}

.point__total {
  font-size: 16px;
}

.point__total span {
  font-weight: 500;
}

.point__total i {
  font-style: normal;
}

.point__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #aab5b7;
  padding: 0 10px;
  height: 35px;
  margin-top: 25px;
}

.point__search input {
  border: none;
  width: 80%;
  font-size: 14px;
}

.point__search input:-moz-placeholder {
  color: #b7bfd2;
  font-style: italic;
}

.point__search input::-webkit-input-placeholder {
  color: #b7bfd2;
  font-style: italic;
}

.point__icon-search {
  width: 100%;
  max-width: 20px;
}

.point__all-place {
  position: relative;
  margin-top: 30px;
}

.pick-up-point {
  cursor: pointer;
  margin-bottom: 10px;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding: 10px;
  border: 1px solid;
  font-size: 15px;
}

.pick-up-point__wrap_2 {
  display: none;
}

.pick-up-point:not(.active) {
  max-height: 0;
  padding: 0 10px;
  overflow: hidden;
  border: none;
  margin-bottom: 0!important;
}

.pick-up-point.show_des .pick-up-point__wrap_1 {
  display: none;
}

.pick-up-point.show_des .pick-up-point__wrap_2 {
  display: block;
}

.pick-up-point__cost {
  margin-top: 20px;
}

.pick-up-point__description {
  margin-top: 20px;
}

.pick-up-point__description p span {
  display: block;
  font-size: 12px;
  line-height: 22px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img {
    max-width: 100%;
    height: auto;
  }

  .point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 0;
  }

  .point__col {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
  }

  .point__col:first-child {
    max-width: 400px;
  }

  .point__col:nth-child(2) {
    max-width: 830px;
  }

}