@import url("fonts.css");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    width: 100%;
    height: 100%;
}
body {
    position: relative;
    margin: 0;
    font-family: 'SegoeUI', sans-serif;
    color: #fff;
    cursor: default;
    font-size: 16px;
    line-height: normal;
    background: #fff;
    height: auto;
    min-height: 100%;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.wrap {
    width: 100%;
    padding-bottom: 50px;
    overflow: hidden;
    position: relative;
    background: url("../img/backgroundsite.jpg")center no-repeat;
    background-size: cover;
    /*height: 2190px;*//*Убрать*/
}

section,header,footer{
    display: block;
    position: relative;
}

.container {
    zoom: 1;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}
.container-pad-0{
    zoom: 1;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}
.container:after,
    .container:before {
    content: "";
    display: table;
    }
.container:after {
    clear: both;
}
a[href]:not([class])  {
    display: block;
    color: #1a213f;
    text-decoration: none !important;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a img {
    text-decoration: none;
}

a:focus,a:hover,a:link,
a:active {
    outline: none!important;
    text-decoration: none!important;
    outline-width: 0;
}
a:hover{
    text-decoration: none!important;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    color: #fff;
}

h2{
    font-size: 17px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li{

}
li a{
    font-size: 15px;
}

button {
    outline: none;
    text-decoration: none;
    border: none;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
button:focus{
    outline: none;
}


/*ОБЩИЕ СТИЛИ*/
.margin-auto{
    margin: 0 auto;
}
.mar-top-30{
    margin-top: 30px;
}
.mar-top-20{
    margin-top: 20px;
}
.mar-top-10{
    margin-top: 10px;
}
.mar-bot-30{
    margin-bottom: 30px;
}
.mar-bot-20{
    margin-bottom: 20px;
}
.mar-bot-10{
    margin-bottom: 10px;
}

.mar-bot-5{
    margin-bottom: 5px;
}

.mar-bot-top-30{
    margin: 30px 0;
}
.mar-bot-top-10{
    margin: 10px 0;
}
.mar-right-10{
    margin-right: 10px;
}
.mar-right-20{
    margin-right: 20px;
}
.pad-25{
    padding: 25px 0;
}
.pad-10{
    padding: 10px 0;
}
.pad-top-10{
    padding-top: 10px;
}
.pad-bot-20{
    padding-bottom: 20px;
}
.pad-10px{
    padding: 10px;
}
.cur-pointer{
    cursor: pointer;
}

.uppercase{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}
.color-white{
    color: #fff;
}

input[type="text"], input[type="number"], input[type="tel"]{
    position: relative;
    width: 100%;
    display: block;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #b7bfd2;
    font-size: 15px;
    color: #000;
    padding-left: 17px;
    font-family: "Open sans";
    font-weight: 400;
    /*height: 51px;*/
    outline: none;
}
input[type="radio"]{

}
input:-moz-placeholder { color: #b7bfd2; }
input::-webkit-input-placeholder { color: #b7bfd2;}

textarea{/*Стили для поля ввода*/
    width: 100%;
    height: 50px;
    padding-top: 13px;
    padding-left: 25px;
    border: 1px solid #a2a5b2;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    resize: none;
    outline: none;
    font-weight: 400;
}
textarea:-moz-placeholder { color: #a2a5b2; }
textarea::-webkit-input-placeholder { color: #a2a5b2; }
input:focus, textarea:focus{
    outline: none;
}



button[disabled], html input[disabled] {
    cursor: pointer;
}
label {
    /*display: block;*/
    /*color: #a4a7ad;*/
    /*font-weight: 600;*/
    /*font-size: 15px;*/
    /*margin-bottom: 10px;*/
    /*margin-top: 10px;*/
    /*vertical-align: middle;*/
}
.label{
    color: #a4a7ad;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 600;
}
.fontweight600{
    font-weight: 600;
}
.fontweight800{
    font-weight: 800;
}
.fontweight700{
    font-weight: 700;
}
/*Объкты на всех страницах*/
.display-inline-top{
    display: inline-block;
    vertical-align: top;
}
.display-inline-middle{
    display: inline-block;
    vertical-align: middle;
}
.in-block{
    display: inline-block;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}

.flex-space-around{
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-space-around-center{
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


.flex-space-between{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.flex-space-between-center{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

/*Трехколочный хедер*/
.header-inner{

}
.header-inner-left{

}
.header-inner-right{

}


/*--------------МОДАЛЬНЫЕ ОКНА МЕДИА-МЕНЮ НА ВЕСЬ ЭКРАН-----------------*/
/*Меню поп-ап*/
/*.menu-icon{*/
/*width: 40px;*/
/*height: 40px;*/
/*background: url("../img/iconMenu.png")center no-repeat;*/
/*background-size: contain;*/
/*cursor: pointer;*/
/*}*/
.media-menu {
    padding-top: 20px;
    /*margin-bottom: 40px;*/
    position: relative;
    display: none;
    width: 100%;
    /*height: 100%;*/
    height: 95vh;
    text-align: center;
    background: rgba(255, 255, 255, 1);
}
.media-close{
    width: 30px;
    height: 30px;
    /*background: url("../img/icon-close.png")center no-repeat;*/
    background-size: contain;
    cursor: pointer;
}

.wrapper-media-menu {
    margin-top: 50px;
    margin-bottom: 30px;
}

.media-menu-item{
    margin-bottom: 10px;
}

.menu-link {
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #000;
}
.active-item{
    background-color: #f2f6fb;

}
.active-item a{
    color: #06ae8f;
}
.menu__link:hover{

}


/*------Хедер-----------*/
.logo{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #7baff0;
    margin: 35px auto 0;
    padding-top: 45px;
}
.img-logo{
    margin: 0 auto;
    width: 107px;
    height: 76px;
    background: url("../img/logo.png")center no-repeat;
    background-size: cover;
}
.logo p{
    font-size: 27px;
    font-style: italic;
    margin-top: 18px;
}
/*-----Секция1-------*/
.wrapper-text{
    max-width: 806px;
    margin: 28px auto 0;
}

/*Дерево*/
.wrapper-tree-foto{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.beginning-tree{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 3px solid #fff;

}
.wrapper-items-tree{
    display:flex;
    justify-content: center;
    position: relative;
    margin-top: 55px;
    width: 100%;
    /*top: 55px;*/
}
.left-side-tree{
    width: calc(50% - 36px);
}
.right-side-tree{
    width: calc(50% - 36px);
}


.item-tree{
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 30px;
}
.wrapper-cart{
    position: relative;
    width: 100%;
    padding: 18px;
    min-height: 60px;
    background-color: #fff;
    margin: -18px auto;
    border-radius: 3px;
}
.left-side-tree .wrapper-cart::after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    right: -30px; top: 15px;
    border: 10px solid transparent;
    border-left: 20px solid #ffffff;
}
.right-side-tree .wrapper-cart::after {
    content: '';
    position: absolute;
    left: -30px;
    top: 15px;
    border: 10px solid transparent;
    border-right: 20px solid #ffffff;
}
.tree-trunk-first{
    width: 4px;
    top: 22px;
    height: 60px;
    background-color: #fff;
    position: absolute;
}

.tree-trunk{
    width: 4px;
    top: 15px;
    /*height: 70px;*/
    background-color: #fff;
    position: absolute;
}
.icon{
    height: 33px;
    width: 33px;
    flex-shrink: 0;
    background-color: #ff8cc1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.icon:before{
    font-family: FontAwesome,sans-serif;
    font-size: 24px;
    color: #fff;
}
.icon-plus:before{
    content: "\f067";

}
.icon-minus:before{
    content: "\f068";
}



.icon-plus i{
     font-size: 16px;
     color: #fff;
 }
.header-cart h2{
    font-family: 'SegoeWPLight',sans-serif;
    color: #4e4e4e;
    font-size: 24px;
}

.wrapper-card-content{
    width: 100%;
    margin-top: 20px;
    /*height: 150px;*/
    border: 1px solid;
}
.rty{
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: red;
    border-radius: 50%;
}

.point{
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    position: relative;

}
.wrapper-empty{
    height: 200px;
    border: 1px solid;
    margin-top: 50px;
    position: relative;
}
.point-2{
    position: relative;
    margin-top: 50px;
    top: 50px;
}

.trunk{
    position: absolute;
    /*height: 20px;*/
    top: 12px;
    left: 5px;
    width: 2px;
    background-color: green;
}



.icon-plus:before{
    content: "\f067";

}
.icon-minus:before{
    content: "\f068";
}
/*.wrapper-img{*/
    /*width: 100%;*/
    /*height: 265px;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
/*}*/


.wrapper-img {
    margin-top: 30px;
    width: 100%;
    max-width: 412px;
    /*min-width: 200px;*/
}
.wrapper-img img {
    width: 100%; /* ширина картинки */
    height: auto; /* высота картинки */
}
.wrapper-social-icon{
    display: flex;
    margin-top: 20px;

}
.social-icon{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    margin-right: 10px;
}
.social-icon:last-child{
    margin-right: 0;
}
.form-card{
    margin-top: 20px;
}
.form-card input{
    margin-top: 0;
    width: 80%;
    height: 55px;
    min-width: 100px;
    max-width: 330px;
    border: 2px solid #d6d6d6;
    background-color: #f2f2f2;
}
.form-card button{
    width: 50px;
    height: 50px;
    background: url("../img/form-galka.png")center no-repeat;
    background-size: cover;
}


.te{
    width: 100px;
    border: 1px solid;
}












/*------------------------------*/



@media screen and (max-width: 1015px){
    .header-cart h2{
        font-size: 19px;
    }

}
@media screen and (max-width: 810px){
    .tree-trunk-first{
        top: 25px;
        height: 27px;
    }
    .wrapper-items-tree{
        flex-direction: column;
        margin-top: 30px;
        align-items: center;
    }
    .left-side-tree{
        margin-bottom: 10px;
        width: 79%;
    }
    .right-side-tree{
        width: 79%;
    }
    .item-tree, .tree-trunk{
        display: none;
    }
    .wrapper-cart{
        margin: 0 auto;
    }
    .wrapper-tree-foto{
        margin-top: 30px;
    }

}

@media screen and (max-width: 600px){
    .logo{
        width: 140px;
        height: 140px;
    }
    .img-logo {
        max-width: 58px;
        height: 40px;
    }
    .logo p {
        font-size: 15px;
        margin-top: 10px;
    }
    .section-my-portfolio h1{
        font-size: 30px;
    }

}
@media screen and (max-width: 450px){
    .form-card button{
        width: 30px;
        height: 30px;
    }

}
@media screen and (max-width: 420px){
    .wrapper-img{
        margin-top: 10px;
    }
    .form-card input{
        height: 40px;
        margin-right: 6px;
    }

}
















