@import url("fonts.css");
.wrap-photo-portfolio {
    background: url("../img/backgroundsite.jpg")center no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}




/*------Хедер-----------*/
.logo{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #7baff0;
    margin: 35px auto 0;
    padding-top: 45px;
    color: #fff;
}
.img-logo{
    margin: 0 auto;
    width: 107px;
    height: 76px;
    background: url("../img/LogoPhoto.png")center no-repeat;
    background-size: cover;
}
.logo p{
    font-size: 27px;
    font-style: italic;
    margin-top: 18px;
}
/*-----Секция1-------*/
.wrapper-text{
    max-width: 806px;
    margin: 28px auto 0;
}
.wrapper-text p{
    font-family: 'SegoeUI', sans-serif;
    color: #fff;
    cursor: default;
    font-size: 16px;
    line-height: normal;
}

/*Дерево*/
.wrapper-tree-foto{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.beginning-tree{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 3px solid #fff;

}
.wrapper-items-tree{
    display:flex;
    justify-content: center;
    position: relative;
    margin-top: 55px;
    width: 100%;
    /*top: 55px;*/
}
.left-side-tree{
    width: calc(50% - 36px);
}
.right-side-tree{
    width: calc(50% - 36px);
}


.item-tree{
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 30px;
}
.wrapper-cart{
    position: relative;
    width: 100%;
    padding: 18px;
    min-height: 60px;
    background-color: #fff;
    margin: -18px auto;
    border-radius: 3px;
}
.left-side-tree .wrapper-cart::after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    right: -30px; top: 15px;
    border: 10px solid transparent;
    border-left: 20px solid #ffffff;
}
.right-side-tree .wrapper-cart::after {
    content: '';
    position: absolute;
    left: -30px;
    top: 15px;
    border: 10px solid transparent;
    border-right: 20px solid #ffffff;
}
.tree-trunk-first{
    width: 4px;
    top: 22px;
    height: 60px;
    background-color: #fff;
    position: absolute;
}

.tree-trunk{
    width: 4px;
    top: 15px;
    /*height: 70px;*/
    background-color: #fff;
    position: absolute;
}
.icon{
    height: 33px;
    width: 33px;
    flex-shrink: 0;
    background-color: #ff8cc1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.icon:before{
    font-family: FontAwesome,sans-serif;
    font-size: 24px;
    color: #fff;
}
.icon-plus:before{
    content: "\f067";

}
.icon-minus:before{
    content: "\f068";
}



.icon-plus i{
    font-size: 16px;
    color: #fff;
}
.header-cart h2{
    font-family: 'SegoeWPLight',sans-serif;
    color: #4e4e4e;
    font-size: 24px;
}

.wrapper-card-content{
    width: 100%;
    margin-top: 20px;
    border: 1px solid transparent;
}
.rty{
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: red;
    border-radius: 50%;
}

.point{
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    position: relative;

}
.wrapper-empty{
    height: 200px;
    border: 1px solid;
    margin-top: 50px;
    position: relative;
}
.point-2{
    position: relative;
    margin-top: 50px;
    top: 50px;
}

.trunk{
    position: absolute;
    /*height: 20px;*/
    top: 12px;
    left: 5px;
    width: 2px;
    background-color: green;
}



.icon-plus:before{
    content: "\f067";

}
.icon-minus:before{
    content: "\f068";
}
/*.wrapper-img{*/
/*width: 100%;*/
/*height: 265px;*/
/*background-position: center;*/
/*background-repeat: no-repeat;*/
/*background-size: cover;*/
/*}*/


.wrapper-img {
    margin-top: 30px;
    width: 100%;
    max-width: 412px;
    /*min-width: 200px;*/
}
.wrapper-img img {
    width: 100%; /* ширина картинки */
    height: auto; /* высота картинки */
}
.wrapper-social-icon-photo{
    display: flex;
    margin-top: 20px;

}
.social-icon{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    margin-right: 10px;
}
.social-icon:last-child{
    margin-right: 0;
}
.form-card{
    margin-top: 20px;
}
.form-card input{
    margin-top: 0;
    width: 80%;
    height: 55px;
    min-width: 100px;
    max-width: 330px;
    border: 2px solid #d6d6d6;
    background-color: #f2f2f2;
}
.form-card button{
    width: 50px;
    height: 50px;
    background: url("../img/form-galka.png")center no-repeat;
    background-size: cover;
}


.te{
    width: 100px;
    border: 1px solid;
}












/*------------------------------*/



@media screen and (max-width: 1015px){
    .header-cart h2{
        font-size: 19px;
    }

}
@media screen and (max-width: 810px){
    .tree-trunk-first{
        top: 25px;
        height: 27px;
    }
    .wrapper-items-tree{
        flex-direction: column;
        margin-top: 30px;
        align-items: center;
    }
    .left-side-tree{
        margin-bottom: 10px;
        width: 79%;
    }
    .right-side-tree{
        width: 79%;
    }
    .item-tree, .tree-trunk{
        display: none;
    }
    .wrapper-cart{
        margin: 0 auto;
    }
    .wrapper-tree-foto{
        margin-top: 30px;
    }

}

@media screen and (max-width: 600px){
    .logo{
        width: 140px;
        height: 140px;
    }
    .img-logo {
        max-width: 58px;
        height: 40px;
    }
    .logo p {
        font-size: 15px;
        margin-top: 10px;
    }
    .section-my-portfolio h1{
        font-size: 30px;
    }

}
@media screen and (max-width: 450px){
    .form-card button{
        width: 30px;
        height: 30px;
    }

}
@media screen and (max-width: 420px){
    .wrapper-img{
        margin-top: 10px;
    }
    .form-card input{
        height: 40px;
        margin-right: 6px;
    }

}












