/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 5 version
*/

@media (min-width: 580px) and (max-width: 920px){
    .product-item__button {
        padding: 4px 27px;
    }
}
@media(max-width: 770px){
    .product-item-1__title p{
        font-size: calc(10px + 2vw);
    }
    .product-item__sub-title p {
        font-size: calc(8px + 1.4vw);
    }
    .container{
        padding: 0 5px;
    }
    .page-row-blocks{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
    }
    .col-block{
        width: 100%;
        margin: 0;
    }
    .big-col-block{
        margin-bottom: 10px;
    }
    .small-col-block{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 10px;
        margin-right: -10px;
        margin-left: -10px;
    }
    .product-item:not(:last-child){
        margin-bottom: 0;
    }
    .small-col-block .product-item{
        width: calc(50% - 10px);
        margin: 0 5px;
    }
    .small-col-block .product-item:before{
        content: "";
        display: block;
        padding-top: 130%;
    }
    .big-col-block .product-item:before{
        padding-top: calc(55% - 10px);
    }
    .product-item__size-img-50{
        max-width: 26%!important;
        top: -14px;
    }
    .product-item__container-big-img .product-item__gift{
        width: 60px;
        height: 60px;
        top: -44px;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
}
@media (min-width: 580px) and (max-width: 750px){
    .product-item__size-img-50{
        top: -20px;

    }
    .product-item-2__container-title{
        top: -11px;
    }
}
@media(max-width: 540px){
    .page-navigation__item p{
        font-size: 20px;
    }
    .page-navigation__item:not(:last-child){
        margin-right: 10px;
    }
}
@media(max-width: 570px){
    .product-item__container-small-img .product-item__gift{
        width: 50px;
        height: 50px;
        top:8px;
    }
}
@media(max-width: 420px){
    .product-item-1__title p{
        font-size: 12px;
    }
    .product-item-1__wrap-title {
        bottom: 33%;
    }
    .product-item__sub-title p {
        font-size: 12px;
        margin-top: 7px;
    }
    .big-col-block .product-item:before {
        padding-top: calc(70% - 10px);
    }
    .product-item-2__wrap-title {
        bottom: 20%;
    }
    .page-row-blocks{
        padding: 0;
        margin-top: 20px;
    }
}
@media(max-width: 340px){
    .small-col-block .product-item:before {
        padding-top: 165%;
    }
}
