
@font-face {
    font-family: 'PtSans';
    src: url('../fonts/PtSans/PtSans.eot');
    src: url('../fonts/PtSans/PtSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PtSans/PtSans.woff') format('woff'),
    url('../fonts/PtSans/PtSans.woff2') format('woff2'),
    url('../fonts/PtSans/PtSans.ttf') format('truetype'),
    url('../fonts/PtSans/PtSans.svg#PTSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PtSans';
    src: url('../fonts/PtSans/PtSansBold.eot');
    src: url('../fonts/PtSans/PtSansBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PtSans/PtSansBold.woff') format('woff'),
    url('../fonts/PtSans/PtSansBold.woff2') format('woff2'),
    url('../fonts/PtSans/PtSansBold.ttf') format('truetype'),
    url('../fonts/PtSans/PtSansBold.svg#PTSans-Bold') format('svg');
    font-weight: 500;
    font-style: normal;
}