@media screen and (max-width: 1170px){
  .header__version-blind{
    display: none;
  }

  .header__wrap-blind-tel{
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-left: auto;
  }
  .header__top-part{
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 870px){
  .header{
    padding-bottom: 0;
    -webkit-box-shadow:none;
    box-shadow:none;
    border-radius: 0;
}
  .header__bottom-part{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 74%;
    min-width: 287px;
    -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.08);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 0 20px;
    border-bottom-right-radius: 20px;
    -webkit-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    transform: translateX(-120%);
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
  }
  .header__wrap-busket{
    margin-top: 25px;
  }
  .header__container-tel{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 40px;
  }
  .sprite-number{
    display: block;
  }
  .header__burger{
    display: block;
  }
  .header__apps{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__search{
    border: none;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-left: 0;
  }
  .header__search input{
    display: none;
  }
  .header__icon-searh{
    background-color: transparent;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .header__wrap-logo-menu{
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .header__burger{
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .header__search{
    -webkit-box-ordinal-group:3;
    -ms-flex-order:2;
    order:2
  }
  .header__wrap-logo-menu{
    -webkit-box-ordinal-group:4;
    -ms-flex-order:3;
    order:3;
  }
  .header__busket{
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .header__top-part{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header__top-part:after{
    content: "";
    display: block;
    width: 110%;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    -webkit-box-shadow: 0 0 10px 1px #b4b4b4;
    box-shadow: 0 4px 5px 1px #e1e0e0;
    position: absolute;
    bottom: -22px;
    height: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
  }
  .header__top-part.active:after{
    opacity: .3;
  }


  .header__icon-catalog{
    background-image: url("../img/bag.png");
    margin-right: 10px;
    width: 27px;
    height: 27px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .modal-city-confirm{
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }






  .header__information-menu{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__selected-city .header__icon{
    display: none;
  }

  .header__selected-city-name{
    color: #4A4A4A;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
  }
  .header__icon-geo{
    display: block;
  }
  .header__profile-name{
    color: #4A4A4A;
    font-size: 18px;
    font-weight: 400;
  }
  .header__profile-invitation{
    color: #8F8F8F;
    font-size: 13px;
  }
  .header__star img{
    margin-right: 10px;
  }
  .header__star{
    margin-right: 0;
  }
  .header__selected-city{
    margin-top: 25px;
  }
  .header__information-menu-item:not(:last-child){
    margin-bottom: 10px;
  }
  .header__tel{
    -webkit-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  .media-display{
    display: block;
  }
  .header__information-menu-item a{
    font-size: 18px;
  }
  .header__catalog{
    width: 100%;
    background: transparent;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0;
    position: relative;
  }
  .header__catalog:after{
    content: "";
    display: block;
    width: 106%;
    height: 2px;
    background-color: #FFCC00;
    position: absolute;
    bottom: -10px;
    left: -16px;
  }
  .header__catalog .header__icon{
    display: block;
  }
  .header__catalog p{
    color: #4A4A4A;
    font-weight: 500;
    font-size: 24px;
  }
  .header__catalog p span{
    display: none;
  }
  .header__wrap-profile-busket{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 20px;
  }
  .header__bottom-part-close{
    display: block;
  }













}
@media screen and (max-width: 1170px) and (min-width: 870px){
  .header__tel{
    margin-left: auto;
  }
}
@media screen and (max-width: 630px){
  .col-flex{
    width: 46%!important;
  }
}
@media screen and (max-width: 420px){
  .moda-city-confirm{
    z-index: 1001;
    width: 100vw;
    left: 0;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    top: auto;
    bottom: 0;
  }
  .moda-city-confirm__close{
    right: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -25px;
  }
}