@import url("fonts.css");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  background: #fff;
  height: 100%;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.wrap {
  font-family: 'PtSans', sans-serif;
  font-weight: 400;
  cursor: default;
  font-size: 12px;
  line-height: normal;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}
.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
section,
header,
footer {
  display: block;
  position: relative;
}
.container {
  zoom: 1;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
a {
  display: block;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a img {
  text-decoration: none;
}
a:focus,
a:hover,
a:link,
a:active {
  outline: none;
  text-decoration: none;
  outline-width: 0;
}
a:hover {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  outline: none;
  text-decoration: none;
  border: none;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
button:focus {
  outline: none;
}
input {
  position: relative;
  display: block;
  outline: none;
}
input:-moz-placeholder {
  color: #b7bfd2;
}
input::-webkit-input-placeholder {
  color: #b7bfd2;
}
textarea {
  /*Стили для поля ввода*/
  padding-left: 15px;
  font-family: 'Open Sans', sans-serif;
  resize: none;
  outline: none;
}
textarea:-moz-placeholder {
  color: #a2a5b2;
}
textarea::-webkit-input-placeholder {
  color: #a2a5b2;
}
input:focus,
textarea:focus {
  outline: none;
}
/*--------------МОДАЛЬНЫЕ ОКНА МЕДИА-МЕНЮ НА ВЕСЬ ЭКРАН-----------------*/
/*Модальное окно*/
.parent-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: auto;
  z-index: 1100;
  display: none;
}
#lean_overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: none;
}
.modal-city-selection__body {
  position: relative;
  top: 23vh;
  width: 100%;
  max-width: 642px;
  background: #fff;
  padding: 23px 7px 30px 31px;
  -webkit-box-shadow: 0 0 10px 1px #c3c3c3;
  box-shadow: 0 0 10px 1px #c3c3c3;
  border-radius: 6px;
}
.modal-city-selection__close {
  top: 19px;
  right: 16px;
}
.modal-city-selection__title {
  color: #4A4A4A;
  font-size: 20px;
  font-weight: 500;
}
.modal-city-selection__wrap-town {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px;
}
.modal-city-selection__wrap-town .col-flex:nth-child(3n+1) {
  width: 38%;
}
.modal-city-selection__wrap-town .col-flex:nth-child(3n+2) {
  width: 31%;
}
.modal-city-selection__wrap-town .col-flex:nth-child(3n+3) {
  width: calc(100% - 69% - 30px);
}
.modal-city-selection__wrap-town .col-flex {
  margin-right: 10px;
  margin-bottom: 12px;
}
.modal-city-selection__col-town {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.modal-city-selection__col-town.active .modal-city-selection__name-town {
  font-weight: 500;
}
.modal-city-selection__name-town {
  color: #4A4A4A;
  font-size: 16px;
  margin-right: 5px;
  padding-bottom: 5px;
}
.modal-city-selection__number-pharmacies {
  color: #C8C7CC;
  font-size: 12px;
}
.header {
  padding-top: 22px;
  padding-bottom: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04);
  border-radius: 0 0 20px 20px;
}
.header__top-part {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  max-width: 208px;
  margin-right: 39px;
}
.header__selected-city-wrap {
  position: relative;
}
.header__selected-city-name {
  position: relative;
  padding: 2px 4px 3px;
  font-size: 16px;
  line-height: 21px;
  color: #4A4A4A;
  font-weight: 500;
}
.header__selected-city-name:after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 0;
  height: 2px;
  background-color: #FFCC00;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  will-change: transform;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}
.header__selected-city {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.header__media-wrap_up {
  padding-left: 15px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 25px;
}
.header__media-wrap {
  background: #F4F4F4;
  width: 100%;
  padding-left: 19px;
  padding-bottom: 20px;
  padding-top: 13px;
  border-bottom-right-radius: 20px;
}
.header__icon {
  width: 9px;
  margin-top: 3px;
  margin-left: 0px;
}
.header__information-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__information-menu-item {
  margin-right: 8px;
}
.header__information-menu-item a {
  position: relative;
  padding: 2px 4px 3px;
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 400;
}
.header__information-menu-item.active a {
  font-weight: 500;
}
.header__version-blind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #F4F4F4;
  border-radius: 10px;
  width: 196px;
  height: 32px;
  cursor: pointer;
  padding: 0 7px 0 10px;
}
.header__version-blind p {
  color: #4A4A4A;
  font-size: 13px;
  font-weight: 500;
}
.header__container-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__tel a {
  color: #4A4A4A;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.9px;
}
.header__apps {
  margin-top: 40px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__apps-item {
  width: 149px;
}
.header__wrap-logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 380px;
}
.header__wrap-blind-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 380px;
}
.header__bottom-part {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  will-change: transform;
}
.header__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 208px;
  height: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #00893D;
  border-radius: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 17px;
}
.header__catalog .header__icon {
  display: none;
  margin-left: 15px;
}
.header__catalog p {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
}
.header__icon-catalog {
  width: 16px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/svgicon/sprite.svg#burger");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__search {
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 2px solid #FFCC00;
  width: 100%;
  max-width: 688px;
  height: 48px;
  border-radius: 100px;
  padding-left: 21px;
  padding-right: 3px;
}
.header__search input {
  border: none;
  height: 90%;
  width: 90%;
  font-family: 'PtSans', sans-serif;
  color: #000;
  font-size: 16px;
}
.header__search input:-moz-placeholder {
  color: #C4C4C4;
}
.header__search input::-webkit-input-placeholder {
  color: #C4C4C4;
}
.header__icon-searh {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #FFCC00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__wrap-profile-busket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 234px;
}
.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.header__profile .sprite-user {
  margin-right: 10px;
}
.header__profile-name {
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 500;
}
.header__profile-invitation {
  font-size: 13px;
  color: #8F8F8F;
  margin-top: 0;
}
.header__wrap-busket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__count {
  color: #8F8F8F;
  font-size: 13px;
}
.header__icon-geo {
  width: 22px;
  height: 32px;
  background: url("../img/geo.png") center no-repeat;
  background-size: cover;
  margin-right: 10px;
  display: none;
}
.header__favorites {
  color: #4A4A4A;
  font-size: 18px;
}
.header__star {
  width: 25px;
  margin-right: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__busket {
  position: relative;
  padding-right: 4px;
  cursor: pointer;
}
.header__order-quantity {
  position: absolute;
  top: -7px;
  right: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: 500;
  background-color: #00893D;
  border-radius: 50%;
}
.header__bottom-part-close {
  top: 17px;
  right: 17px;
  display: none;
}
.media-display {
  display: none;
}
@-webkit-keyframes active {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
@keyframes active {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
@-webkit-keyframes not-active {
  from {
    opacity: 1;
    width: 100%;
  }
  to {
    opacity: 0;
    width: 0;
  }
}
@keyframes not-active {
  from {
    opacity: 1;
    width: 100%;
  }
  to {
    opacity: 0;
    width: 0;
  }
}
.modal-close {
  width: 12px;
  position: absolute;
  cursor: pointer;
}
.modal-city-confirm {
  display: none;
  min-width: 269px;
  position: fixed;
  top: 77px;
  left: 50%;
  z-index: 1001;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 29px 40px 22px 40px;
  -webkit-box-shadow: 0 0 8px 1px #f3f2f2;
  box-shadow: 0 0 8px 1px #f3f2f2;
  text-align: center;
}
.modal-city-confirm__close {
  right: 13px;
  top: 13px;
}
.modal-city-confirm__title {
  font-size: 14px;
  color: #4A4A4A;
  line-height: 18px;
}
.modal-city-confirm__select-city {
  color: #4A4A4A;
  font-size: 18px;
  font-weight: 500;
  margin-top: 11px;
}
.modal-city-confirm__button {
  cursor: pointer;
  display: block;
  width: 165px;
  height: 42px;
  background-color: #00893D;
  border-radius: 24px;
  margin: 20px auto 0;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.modal-city-confirm__button:before {
  content: '';
  position: absolute;
  border: #00893D solid 6px;
  border-radius: 24px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.modal-city-confirm__choose-another {
  color: #00893D;
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
  cursor: pointer;
}
.modal-city-confirm.active {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
.modal-city-confirm.not-active {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}
.modal-city-confirm__button:hover:before {
  -webkit-animation-name: button-hover;
  animation-name: button-hover;
}
@-webkit-keyframes button-hover {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes button-hover {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.animate__zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
@keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
.animate__zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.header__burger {
  display: none;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  border-bottom: 2px solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  overflow: hidden;
}
.header__burger:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  content: "";
  display: block;
  height: 2px;
  background: #000;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header__burger:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  content: "";
  display: block;
  height: 2px;
  background: #000;
  -webkit-transition: width 2s, -webkit-transform 0.5s;
  transition: width 2s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, width 2s;
  transition: transform 0.5s, width 2s;
  transition: transform 0.5s, width 2s, -webkit-transform 0.5s;
}
.hover .active-hover:after {
  -webkit-animation-name: active;
  animation-name: active;
}
.hover .not-active-hover:after {
  -webkit-animation-name: not-active;
  animation-name: not-active;
}
.hover-item {
  position: relative;
}
.hover-item:after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 0;
  height: 2px;
  background-color: #FFCC00;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  will-change: transform;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}
.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}
.sprite-bag {
  width: 27px;
  height: 27px;
  background-position: -5px -5px;
}
.sprite-blind {
  width: 21px;
  height: 13px;
  background-position: -42px -5px;
}
.sprite-busket {
  width: 28px;
  height: 24px;
  background-position: -73px -5px;
}
.sprite-number {
  width: 30px;
  height: 30px;
  background-position: -111px -5px;
  display: none;
  margin-right: 15px;
}
.sprite-search {
  width: 21px;
  height: 21px;
  background-position: -151px -5px;
}
.sprite-user {
  width: 23px;
  height: 24px;
  background-position: -182px -5px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header__star {
    position: relative;
    right: 135px;
  }
  .modal-city-confirm {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    left: 31%;
  }
}
