/*Медиа-запросы*/

@media screen and (max-width: 1300px){
    .book-progress__item p{
        margin-top: 0;
    }
    .book-progress__item:not(.book-progress__item-cover) {
        padding: 60px 10px 50px;
    }

    .mn-category__item-medium h3 {
        font-size: 18px;
    }
    .mn-category-item-small h3 {
        font-size: 14px;
    }
    .mn-category__body {
        padding-top: 13px;
    }
}
@media screen and (max-width: 1270px){
    .mn-section-advantages .row-3-column {
        margin-left: -8px;
        margin-right: -8px;
    }
    .mn-section-category .row-6-column__col{
        padding-bottom: 16px;
    }
    .mn-section-category .row-6-column__col{
        padding-bottom: 16px;
    }

    .mn-advantages__description {
        margin-top: 13px;
    }
    .mn-advantages__description p {
        line-height: 24px;
    }
    .mn-advantages__icon {
        margin: 70px auto 0;
    }



}

@media screen and (max-width: 1000px){
    .mn-section-category .row-6-column__col {
        position: relative;
        width: calc(100%/3 - 15px*2);
        margin-bottom: 30px;
    }

}


@media screen and (max-width: 980px){

    .book-progress__item p {
        font-size: 17px;
        line-height: 28px;
        text-align: center;
        margin-top: 15px;
        text-shadow: 0 0 3px #989393;
    }
    .book-progress__item/*:not(.book-progress__item-cover)*/ {
        padding: 30px 10px 20%;
    }
    .book-progress__item-cover h2{
        font-size: 29px;
        text-shadow: 0 0 1px #e1c8a6;
    }
    .book-progress__item-cover{
        /*background-position: center -1px;*/
        padding: 3px 10px 20%;
    }
    .mn-section-advantages .row-3-column__col {
        width: calc(100%/3 - 8px*2);
        margin-left: 8px;
        margin-right: 8px;
    }
    .mn-advantages__description {
        /*margin-top: 10px;*/
    }
    .mn-advantages__description p {
        /*line-height: 23px;*/
    }

    .mn-section-advantages .row-3-column__col {
        width: calc(100% / 2 - 16px);
        max-width: 380px;
    }


    .mn-section-advantages .row-3-column {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 76%;
        margin: 0 auto;
    }

    .mn-category:not(.mn-category-item-small) .mn-category__body:not(.mn-category__body-big) h3 {
        font-size: 16px;
        padding: 6px 6px;
    }



}

@media screen and (max-width: 850px){
    .mn-wrapper-form__text span{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .mn-section-advantages .row-3-column {
        width: 90%;
    }
    .mn-transition-to-recipes{
        display: none;
    }
    .transition-to-page__recipes{
        display: block;
    }

}

@media screen and (max-width: 500px){
    /*.transition-to-recipes-cook{*/
        /*display: none;*/
    /*}*/
    /*.book{*/
        /*margin-right: 0;*/
    /*}*/

}
@media screen and (max-width: 770px) {
    .mn-section-category .row-2-column__col {
        position: relative;
        width: calc(100%/1 - 15px*2);
        margin-left: 15px;
        margin-right: 15px;
    }
    .mn-wrapper-category{
        width: 50%;
        margin: 0 auto;
    }
    .mn-category__item-big{
        margin-bottom: 30px;
    }
    .mn-section-category .row-6-column__col {
        width: calc(100%/2 - 15px*2);
    }

    .mn-category:not(.mn-category-item-small) .mn-category__body h3{
        margin: 10px auto;
        padding: 6px 20px;
    }
}
@media screen and (max-width: 710px){
    .mn-wrapper-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .mn-wrapper-form__arrow{
        display: none;
    }
    .mn-wrapper-form__percent{
        margin-top: 0;
    }
    .mn-wrapper-form__description{
        margin-bottom: 20px;
    }
    .mn-section-advantages .row-3-column {
        width: 310px;
    }

    .mn-section-advantages .row-3-column__col {
        width: calc(100% / 1 - 16px);
    }

    .mn-advantages__item{
        background-image: none;
    }
    .mn-advantages__icon {
        margin: 0 auto 0;
        width: 70px;
        height: 70px;
    }

    .mn-section-advantages .row-3-column{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
    }
    .mn-advantages__item{
        min-height: 150px;
    }
    .mn-advantages__item:before {
        padding-top: 53%;
    }
    .mn-advantages__description {
        margin-top: 15px;
    }
    .mn-advantages__body{
        padding: 0;
    }





}
@media screen and (max-width: 700px){
    .ab-video__video{
        width: 98%;
    }
}
@media screen and (max-width: 690px){
    .wrapper-certificates-and-awards{
        width: 80%;
        margin: 20px auto;

    }
}

@media screen and (max-width: 650px){
    .ab-slider-history .owl-carousel {
        margin-top: 60px;
    }

    .ab-camera {
        top: 18%;
        width: 70px;
    }
}
@media screen and (max-width: 640px){

    .mn-advantages__description {
        margin-top: 35px;
    }
}


@media screen and (max-width: 590px){
    .mn-wrapper-category{
        width: 100%;
        margin: 0 auto;
    }
    .h3-title-big{
        margin-top: 30px;
    }
    .mn-category-item-small h3 {
        font-size: 12px;
    }
}
@media screen and (max-width: 530px){
    .mn-video__img{
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        background-image: none;
    }
    .mn-video iframe{
        display: block;
        width: 100%;
        left: 0;
        top: 0;
        height: 98.8%;
    }
    .mn-video{
        background-image: none!important;
    }
}
@media screen and (max-width: 420px){

    .mn-section-category {
        margin-top: -30px;
    }
    .h2-title__black {
        font-size: 25px;
    }
    .mn-category__item-medium h3 {
        font-size: 16px;
    }
    .mn-section-video {
        margin-top: 5px;
    }
    .mn-capture-form {
        margin-top: 40px;
    }

}
@media screen and (max-width: 360px){
    .mn-section-progress {
        margin-top: 15px;
    }
}



@media screen and (max-width: 800px){
    .mn-transition-to-page .row-4-col {
        width: 70%;
        min-width: 160px;
        margin: 0 auto;
    }
    .mn-transition-to-page .row-4-col__col {
        width: calc(100%/2 - 10px*2);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        min-width: 160px;
    }

}

@media screen and (max-width: 560px){
    .mn-transition-to-page .row-4-col__col {
        width: calc(100%/1 - 10px*2);

    }
    .transition-to-page:before {
        content: "";
        display: block;
        padding-top: 30px;
    }
    .transition-to-page__icon{
        display: none;
    }
    .transition-to-page__title {
        position: relative;
        color: #666;
        top: 0;
        left: 0;
        text-align: center;
    }
    .transition-to-page__img{
        display: none;
    }

}


@media print {
    /* здесь будут стили для печати */
    .list-ingredients__item {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #a7a2a2;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
}













@media screen and (max-width: 450px){
    .ab-slider-history__description{
        bottom: 18%;
    }
}
@media screen and (max-width: 300px) {
    .col-new-4 {
        width: calc(100%/1  - 16px);
    }
}