@import url("fonts.css");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  font-family: 'OpenSans', sans-serif;
  color: #101010;
  cursor: default;
  font-size: 16px;
  line-height: normal;
  background: #fff;
  height: auto;
  min-height: 100%;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.wrap {
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}
section,
header,
footer {
  display: block;
  position: relative;
}
.container {
  zoom: 1;
  width: 100%;
  max-width: 924px;
  margin: 0 auto;
  padding: 0 12px;
  position: relative;
  margin-bottom: 400px;
}
a {
  display: block;
  color: #000;
  text-decoration: none;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a img {
  text-decoration: none;
}
a:focus,
a:hover,
a:link,
a:active {
  outline: none!important;
  text-decoration: none!important;
  outline-width: 0;
}
a:hover {
  text-decoration: none!important;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  outline: none;
  text-decoration: none;
  border: none;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
button:focus {
  outline: none;
}
input {
  position: relative;
  display: block;
  font-size: 15px;
  color: #000;
  padding-left: 15px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  /*height: 51px;*/
  outline: none;
}
input:-moz-placeholder {
  color: #b7bfd2;
}
input::-webkit-input-placeholder {
  color: #b7bfd2;
}
textarea {
  /*Стили для поля ввода*/
  padding-left: 15px;
  font-family: 'Open Sans', sans-serif;
  resize: none;
  outline: none;
}
textarea:-moz-placeholder {
  color: #a2a5b2;
}
textarea::-webkit-input-placeholder {
  color: #a2a5b2;
}
input:focus,
textarea:focus {
  outline: none;
}
/*Моя сетка*/
.row-2-col {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
.row-2-col__col {
  position: relative;
  width: calc(100%/2 - 5px*2);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
/*Карточка товара*/
.sim-card-product p {
  padding: 0;
}
.section-fon-card {
  width: 100%;
  height: 665px;
  background: url("../img8/FonSection.jpg") center no-repeat;
  background-size: contain;
}
.sim-section-margin {
  margin-top: 40px;
}
.sim-h2-title {
  font-size: 24px;
  color: #3d4b52;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
}
.sim-section-description {
  margin-top: 40px;
}
.sim-section-description__paragraph {
  font-size: 16px;
  color: #3d4b52;
  font-weight: 400;
  line-height: 30px;
}
.sim-description-scheme {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sim-description-scheme__img {
  width: 34%;
  margin-right: 80px;
  min-width: 240px;
}
.sim-description-scheme__img img {
  width: 100%;
  height: auto;
}
.sim-description-scheme__designations {
  width: max-content;
}
.sim-description-scheme__designations ol {
  list-style-type: decimal;
  list-style-position: inside;
}
.sim-description-scheme__designations ol li {
  margin-bottom: 10px;
}
.sim-wrapper-advantages__item:not(:last-child) {
  margin-bottom: 30px;
}
.sim-wrapper-advantages__header {
  display: flex;
  align-items: center;
}
.sim-wrapper-advantages__icon {
  width: 43px;
  height: 43px;
  margin-right: 13px;
}
.sim-wrapper-advantages__icon img {
  max-width: 100%;
  height: auto;
}
.sim-wrapper-advantages__title {
  font-size: 18px;
  font-weight: 500;
  color: #48555d;
  line-height: 25px;
}
.sim-wrapper-advantages__description {
  margin-top: 7px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}
/*2 вариант*/
.sim-section-advantages .row-2-col {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.sim-section-advantages .row-2-col__col {
  position: relative;
  width: calc(100%/2 - 10px*2);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.sim-wrapper-advantages2__item {
  background-color: #f6f6f6;
  padding: 20px;
}
.sim-wrapper-advantages2__header {
  display: flex;
  align-items: center;
}
.sim-wrapper-advantages2__icon {
  width: 43px;
  height: 43px;
  margin-right: 13px;
}
.sim-wrapper-advantages2__icon img {
  max-width: 100%;
  height: auto;
}
.sim-wrapper-advantages2__title {
  font-size: 18px;
  font-weight: 500;
  color: #48555d;
}
.sim-wrapper-advantages2__description {
  margin-top: 7px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}
.sim-wrapper-guarantees {
  background-color: #f8f6f7;
  padding: 30px 22px 80px;
  width: 100%;
  border: 4px solid #c70000;
  border-radius: 7px;
  box-shadow: 2px 2px 6px 1px rgba(109, 4, 4, 0.4), inset 0 0 4px 0.2px #403e3e;
}
.sim-wrapper-guarantees__title {
  width: 90%;
  margin: 0 auto;
  font-size: 24px;
  color: #3d4b52;
  font-weight: 500;
  text-align: center;
  border-bottom: 12px solid #adabab;
  padding-bottom: 30px;
}
.sim-wrapper-guarantees__list {
  width: 85%;
  margin: 40px auto 0;
}
.sim-wrapper-guarantees__list li {
  display: flex;
}
.sim-wrapper-guarantees__list li:not(:last-child) {
  margin-bottom: 20px;
}
.sim-wrapper-guarantees__list li::before {
  content: "";
  display: block;
  width: 37px;
  height: 34px;
  background: url(../img8/IconGalka.png) center no-repeat;
  background-size: contain;
  margin-right: 10px;
  flex-shrink: 0;
}
.sim-wrapper-guarantees__list-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}
.sim-wrapper-guarantees__list-description {
  font-size: 16px;
  font-weight: 400;
}
.sim-wrapper-guarantees__total {
  display: flex;
  align-items: flex-start;
  width: 62%;
  margin: 17px auto;
}
.sim-wrapper-guarantees__icon-pensil {
  width: 115px;
  height: 107px;
  background: url(../img8/PensilAndGalka.png) center no-repeat;
  background-size: contain;
}
.sim-wrapper-guarantees__wish {
  margin-top: 0;
  width: 40%;
  min-width: 170px;
  position: relative;
  background: url(../img8/Wish.png) center no-repeat;
  background-size: contain;
  align-self: flex-end;
  margin-left: -30px;
}
.sim-wrapper-guarantees__wish:before {
  content: "";
  display: block;
  padding-top: 25%;
}
.sim-wrapper-video {
  margin-top: 20px;
}
.sim-wrapper-video__video {
  position: relative;
  width: 100%;
  margin: 25px auto 0;
  box-shadow: 0 0 9px 4px #3c3b3b;
}
.sim-wrapper-video__video::before {
  content: "";
  display: block;
  padding-top: 56%;
}
.sim-wrapper-video__title {
  font-size: 24px;
  color: #3d4b52;
  font-weight: 500;
  text-align: center;
}
.sim-wrapper-video iframe {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sim-section-stock {
  margin-top: 60px;
}
.sim-wrapper-stock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sim-wrapper-stock__description {
  width: 48%;
}
.sim-wrapper-stock__title {
  font-size: 45px;
  font-weight: 500;
  color: #3d4b52;
  text-align: center;
}
.sim-wrapper-stock__paragraph {
  font-size: 25px;
  font-weight: 400;
  color: #3d4b52;
  text-align: center;
  margin-top: 10px;
  line-height: 49px;
}
.sim-wrapper-stock__paragraph p:nth-child(3) {
  font-size: 40px;
}
.sim-wrapper-stock__paragraph i {
  font-style: normal;
  color: red;
  font-size: 53px;
  font-weight: 500;
}
.sim-capture-form {
  width: 40%;
  min-width: 280px;
}
.sim-capture-form input {
  border: 1px solid #8184a1;
  width: 100%;
  height: 40px !important;
  position: relative;
  display: block;
  padding-left: 20px;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #000;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.sim-capture-form button {
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  color: #fff;
  background: #de264a;
  background: -moz-linear-gradient(-45deg, #cb2243 0%, #e55d76 36%, #f22951 69%, #fe2b55 100%);
  background: -webkit-linear-gradient(-45deg, #cb2243 0%, #e55d76 36%, #f22951 69%, #fe2b55 100%);
  background: linear-gradient(135deg, #cb2243 0%, #e55d76 36%, #f22951 69%, #fe2b55 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de264a', endColorstr='#dda6b0', GradientType=1);
}
.sim-capture-form button:hover {
  background: #dd5a72;
  background: -moz-linear-gradient(-45deg, #fe2b55 0%, #f22951 36%, #e55d76 69%, #cb2243 100%);
  background: -webkit-linear-gradient(-45deg, #fe2b55 0%, #f22951 36%, #e55d76 69%, #cb2243 100%);
  background: linear-gradient(135deg, #fe2b55 0%, #f22951 36%, #e55d76 69%, #cb2243 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd5a72', endColorstr='#de264a', GradientType=1);
}
.sim-capture-form textarea {
  width: 100%;
  height: 100px;
  min-width: 280px;
  position: relative;
  display: block;
  padding-left: 20px;
  padding-top: 20px;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #000;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
}
.sim-capture-form input:focus,
.sim-capture-form textarea:focus {
  outline: none;
}
.sim-capture-form input::-moz-placeholder {
  color: #767676;
  font-size: 16px;
  font-weight: 500;
}
.sim-capture-form input::-webkit-input-placeholder {
  color: #767676;
  font-size: 16px;
  font-weight: 500;
}
.sim-capture-form-stock {
  background-color: #f1f6f7;
  padding: 38px 17px;
  border-radius: 10px;
}
.sim-capture-form__title {
  text-align: center;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 26px;
}
.sim-guarantees-in-stocks {
  margin-top: 30px;
}
.sim-guarantees-in-stocks__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.sim-guarantees-in-stocks__list {
  margin-top: 20px;
}
.sim-guarantees-in-stocks__list li {
  font-size: 18px;
  line-height: 24px;
  display: flex;
}
.sim-guarantees-in-stocks__list li:not(:last-child) {
  margin-bottom: 15px;
}
.sim-guarantees-in-stocks__list li:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url("../img8/IconGalka2.png") center no-repeat;
  background-size: contain;
  flex-shrink: 0;
  margin-right: 10px;
}
/*Сертификаты*/
.sim-wrapper-certificates {
  margin-top: 70px;
}
.sim-wrapper-certificates .row-2-col {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}
.sim-wrapper-certificates .row-2-col__col {
  position: relative;
  width: calc(100%/2 - 20px*2);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.sim-wrapper-certificates__item {
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 1px #757272;
  overflow: hidden;
}
.sim-wrapper-certificates__item:hover {
  box-shadow: 0 0 6px 2px #5e5c5c;
}
.sim-wrapper-certificates__item img {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/*Окно для сертификатов*/
.card-product-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  z-index: 1100;
  display: none;
}
.card-product-modal .block {
  background-color: transparent;
  line-height: 0;
  position: relative;
  width: 45%;
  box-shadow: 0 0 5px;
}
.card-product-modal .block img {
  width: 100%;
  height: auto;
}
.card-product-modal .close-menu {
  position: absolute;
  width: 18px;
  height: 18px;
  right: -8px;
  top: -8px;
  font-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img3/IconClose.png);
  cursor: pointer;
  z-index: 10;
}
#lean_overlay-card {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: none;
}
