@import url("fonts.css");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  font-family: 'OpenSans', sans-serif;
  color: #101010;
  cursor: default;
  font-size: 16px;
  line-height: normal;
  background: #fff;
  height: auto;
  min-height: 100%;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.wrap {
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}
section,
header,
footer {
  display: block;
  position: relative;
}
.container {
  zoom: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
  position: relative;
  margin-bottom: 400px;
}
.container-pad-0 {
  zoom: 1;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}
.container:after,
.container:after {
  clear: both;
}
a {
  display: block;
  color: #000;
  text-decoration: none;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a img {
  text-decoration: none;
}
a:focus,
a:hover,
a:link,
a:active {
  outline: none!important;
  text-decoration: none!important;
  outline-width: 0;
}
a:hover {
  text-decoration: none!important;
}
h1 {
  font-size: 26px;
  /*line-height: 30px;*/
  font-weight: 700;
  /*text-align: center;*/
  margin: 0;
}
h2 {
  font-size: 17px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li a {
  font-size: 15px;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  outline: none;
  text-decoration: none;
  border: none;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
button:focus {
  outline: none;
}
/*Баннер*/
.ab-main-banner {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 9px 0 #928e8e;
}
.ab-main-banner:before {
  content: "";
  display: block;
  padding-top: 30%;
}
.h2-title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #de013e;
  padding: 0;
  line-height: 35px;
}
.ab-main-banner {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 9px 0 #928e8e;
}
.ab-main-banner:before {
  content: "";
  display: block;
  padding-top: 30%;
  min-height: 120px;
}
.h2-title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #de013e;
  padding: 0;
  line-height: 35px;
}
.ab-main-information {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
}
.ab-main-about-company {
  width: 50%;
  margin-right: 10px;
  line-height: 30px;
}
.ab-main-about-company p {
  font-size: 18px;
}
.ab-main-about-company p:not(:last-child) {
  margin-bottom: 10px;
}
.ab-video__video {
  position: relative;
  width: calc(100% - 50% - 10px);
}
.ab-video__video iframe {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ab-video__video:before {
  content: "";
  display: block;
  padding-top: 56%;
}
/*Слайдер*/
.ab-camera {
  position: absolute;
  top: -2%;
  transform: rotate(-17deg);
  width: 90px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.ab-camera:before {
  content: "";
  display: block;
  padding-top: 120%;
}
.ab-slider-history {
  position: relative;
  margin-top: 50px;
}
.ab-slider-history .owl-carousel {
  margin-top: 20px;
  position: relative;
  z-index: 2;
}
.ab-slider-history__item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ab-slider-history__item:before {
  content: "";
  display: block;
  padding-top: 92%;
}
.ab-slider-history__content {
  position: absolute;
  width: 97%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ab-slider-history__year {
  position: absolute;
  top: 20%;
  right: 9%;
  color: #dc1749;
  font-size: 40px;
  font-weight: 600;
}
.ab-slider-history__description {
  font-size: 20px;
  position: absolute;
  bottom: 22%;
  left: 6%;
  font-weight: 600;
  line-height: 26px;
  /*min-height: 100px;*/
}
.country-production {
  margin-top: 40px;
  line-height: 30px;
}
.country-production .h2-title {
  margin-bottom: 12px;
}
.country-production p {
  padding: 0;
}
.ab-company-advantages {
  margin-top: 18px;
}
.ab-company-advantages ul {
  padding: 0;
}
.ab-company-advantages ul li {
  font-size: 18px;
  display: flex;
}
.ab-company-advantages ul li:not(:last-child) {
  margin-bottom: 15px;
}
.ab-company-advantages ul li:before {
  margin-right: 10px;
  content: "";
  width: 30px;
  height: 27px;
  background-image: url("../img/IconGarant.png");
  background-size: cover;
  flex-shrink: 0;
}
.company-advantages-title {
  font-size: 22px;
  color: #de013e;
  font-weight: 500;
  margin-top: 25px;
}
.ab-slogan {
  font-size: 25px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.ab-advantages-company {
  margin-top: 20px;
}
.ab-advantages-company__item {
  width: 30%;
  box-shadow: 0 0 7px 0px #707070;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 77px;
  padding-left: 10px;
  padding-right: 10px;
}
.ab-advantages-company__title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #460606;
}
.ab-advantages-company__title span {
  font-size: 40px;
}
.ab-advantages-company__description {
  margin-top: 20px;
  text-align: center;
  color: #460606;
  font-size: 22px;
  font-weight: 600;
}
.h3-ttle {
  font-size: 22px;
  font-weight: 500;
  color: #de013e;
  padding: 0;
}
.country-production .row-4-column {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}
.country-production .row-4-column__col {
  position: relative;
  width: calc(100%/4 - 8px*2);
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
}
.country-production .h3-ttle {
  margin-top: 20px;
}
/*Наша цель*/
.ab-purpose-company {
  margin-top: 30px;
  font-size: 18px;
  line-height: 30px;
}
.ab-purpose-company p {
  font-size: 18px;
  line-height: 30px;
}
.wrapper-certificates-and-awards {
  margin-top: 18px;
}
.block-certificates {
  height: 100%;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  padding: 10px;
}
.block-certificates__img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 60%;
  margin: 0 auto;
  position: relative;
}
.block-certificates__img:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.block-certificates__description p {
  line-height: 24px;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}
.ab-certificates-and-awards {
  margin-top: 30px;
}
.ab-company-politic {
  /*width: 82%;*/
  margin: 30px auto 0;
}
.ab-company-politic p {
  font-size: 18px;
  line-height: 30px;
}
.ab-company-politic p:first-child {
  margin-bottom: 10px;
}
.wave {
  color: #000000;
  animation: 2s color infinite;
  font-size: 20px;
  font-weight: 600;
}
@keyframes color {
  50% {
    color: #2d2d2d;
  }
}
.company-politic__slagan p {
  font-size: 22px;
}
.company-politic__slagan {
  min-height: 43px;
}
.company-politic__item2 span {
  font-weight: 600;
}
.ab-news-company {
  margin-top: 7px;
}
.wrapper-news-company {
  margin-top: 20px;
}
.ab-news-block {
  display: flex;
  align-items: flex-start;
}
.ab-news-block:not(:last-child) {
  margin-bottom: 20px;
}
.ab-news-block__img {
  margin-right: 25px;
  width: 23%;
  min-width: 210px;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ab-news-block__img:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.ab-news-block__description {
  width: calc(100% - 23% - 25px);
}
.ab-news-block__description p {
  line-height: 28px;
}
.ab-news-block__description h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.h3-title {
  padding: 0;
  color: #000;
  font-weight: 500;
}
.ab-importance-research {
  margin-top: 30px;
  font-size: 18px;
  line-height: 30px;
}
.span-main {
  font-weight: 600;
}
.h2-title-sub {
  font-size: 20px;
  font-weight: 500;
  color: #de013e;
  padding: 0;
}
.wrapper-certificates-and-awards .owl-nav {
  max-width: max-content;
}
.wrapper-certificates-and-awards .owl-nav button {
  outline: none;
  border: none;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 60px;
  height: 30px;
  background-position: center!important;
  background-repeat: no-repeat !important;
  background-size: contain!important;
}
.wrapper-certificates-and-awards .owl-prev {
  right: 0;
  background-image: url("../img/ArrowLeft.png") !important;
}
.wrapper-certificates-and-awards .owl-prev:hover {
  background-image: url("../img/ArrowRightHoverc.png") !important;
}
.wrapper-certificates-and-awards .owl-next {
  left: 0;
  background-image: url("../img/ArrowrRight.png") !important;
}
.wrapper-certificates-and-awards .owl-next:hover {
  background-image: url("../img/ArrowLeftHover.png") !important;
}
[class*="ab"] p {
  padding: 0;
}
.wrapper-certificates-and-awards .owl-dots {
  width: max-content;
  margin: 10px auto;
}
.wrapper-certificates-and-awards .owl-dots button {
  width: 13px;
  height: 13px;
  border: 1px solid;
  border-radius: 50%;
  margin: 0 5px;
  outline: none;
}
.wrapper-certificates-and-awards .owl-dots button.active {
  border-color: transparent;
  background: #de013e;
}
/*----------------------------*************************************------------------------------------------*/
/*Главная страница*/
/*Банер на главной - не нужен*/
.mn-slider {
  position: relative;
  width: 100%;
  background: url("../img2/banner5.jpg") no-repeat center;
  background-size: cover;
}
.mn-slider:before {
  content: "";
  display: block;
  padding-top: 28%;
}
.h2-title__black {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #000;
  padding: 0;
  line-height: 35px;
}
/*Наши преимущества*/
.mn-section-advantages {
  margin-top: 40px;
}
.mn-advantages {
  display: flex;
}
.mn-advantages__item {
  position: relative;
  width: 25%;
  background: url("../img2/hexagon3.png") center no-repeat;
  background-size: contain;
}
.mn-advantages__item:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.mn-advantages__body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 67px;
}
.mn-advantages__icon {
  margin: 83px auto 0;
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.mn-advantages__description {
  text-align: center;
  margin-top: 38px;
}
.mn-advantages__description p {
  font-size: 20px;
  line-height: 30px;
}
.mn-section-advantages .row-3-column {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.mn-section-advantages .row-3-column__col {
  position: relative;
  width: calc(100%/3 - 15px*2);
  margin-left: 15px;
  margin-right: 15px;
}
/*Блок разделы*/
.mn-section-category {
  margin-top: 30px;
}
.mn-category {
  margin-top: 20px;
}
.mn-category-item-small {
  margin-top: 30px;
}
.mn-category__item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 6px 0 #bfbdbd;
  border-radius: 7px;
}
.mn-category__item:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.mn-category__body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 30px;
}
.mn-category__body h3 {
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 500;
}
.mn-category__item-big h3 {
  font-size: 26px;
}
.mn-category__small-img {
  width: 50%;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 13px auto 0;
}
.mn-category__small-img:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.mn-section-category .row-2-column {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.mn-section-category .row-2-column__col {
  position: relative;
  width: calc(100%/2 - 15px*2);
  margin-left: 15px;
  margin-right: 15px;
}
.mn-section-category .row-2-column__col-m {
  position: relative;
  width: calc(100%/2 - 15px);
}
.mn-section-category .row-2-column__col-m:nth-child(even) {
  margin-left: 15px;
}
.mn-section-category .row-2-column__col-m:nth-child(odd) {
  margin-right: 15px;
}
.mn-category__item-medium h3 {
  font-size: 22px;
}
.mn-category__item-medium .mn-category__item:nth-child(1) {
  margin-bottom: 30px;
}
.mn-category__item-medium .mn-category__item:nth-child(2) {
  margin-bottom: 30px;
}
.mn-category-item-small h3 {
  font-size: 16px;
}
.mn-category-item-small .mn-category__body {
  padding-top: 16px;
}
.mn-section-category .row-6-column {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.mn-section-category .row-6-column__col {
  position: relative;
  width: calc(100%/6 - 15px*2);
  margin-left: 15px;
  margin-right: 15px;
}
.mn-other-category {
  margin-top: 20px;
  box-shadow: 0 0 6px 0 #bfbdbd;
  border-radius: 7px;
}
.watch-all-category {
  cursor: pointer;
}
.watch-all-category p {
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
}
/*Наши достижения*/
.mn-section-progress {
  margin-top: 40px;
}
.mn-progress {
  height: 400px;
  border: 1px solid;
  background: url("../img2/progress.jpg") center no-repeat;
  background-size: contain;
}
.wowbook-handle.wowbook-left,
.wowbook-handle.wowbook-right {
  width: 30% !important;
}
.wowbook-handle.wowbook-right {
  left: 70% !important;
}
.wowbook {
  margin: 0 auto;
}
.mn-wrapper-progress {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
  width: 100%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mn-wrapper-progress:before {
  content: "";
  display: block;
  padding-top: 40%;
}
.mn-wrapper-progress #book-progress {
  width: 60%!important;
  height: 70%!important;
}
.book-progress {
  position: absolute!important;
  top: 42px;
  left: 0;
  right: 0;
  bottom: 0;
}
.book-progress__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}
.book-progress__item:not(.book-progress__item-cover) {
  padding: 96px 10px;
}
.book-progress__item:not(.book-progress__item-cover) h2 {
  color: #dc1749;
}
.book-progress__item h2 {
  font-size: 40px;
  font-weight: 500;
}
.book-progress__item p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 55px;
  text-shadow: 0 0 3px #989393;
}
.book-progress__item-cover {
  padding: 4px 10px;
}
.book-progress__item-cover h2 {
  color: #b96e01;
  text-shadow: 0 0 14px #fffff1;
  text-align: center;
  padding: 0;
  margin-top: 2px;
  line-height: 31px;
  font-weight: 500;
}
.wowbook-book-shadow {
  height: 100%!important;
}
.book-progress-control {
  display: flex;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
.book-progress-control__back {
  background-image: url('../img2/ProgressArrowLeft3.png');
}
.book-progress-control__next {
  background-image: url('../img2/ProgressArrowRight3.png');
}
.book-progress-control__first {
  background-image: url('../img2/ProgressArrowHome3.png');
  margin: 0 10px;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px #000;
}
.book-progress-control li {
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.book-progress-control li a {
  display: block;
  height: 100%;
  cursor: pointer;
}
/*Секция видео*/
.mn-section-video {
  margin-top: 40px;
}
.mn-wrapper-video {
  margin-top: 20px;
  position: relative;
  width: 100%;
}
.mn-wrapper-video:before {
  content: "";
  display: block;
  padding-top: 57%;
}
.mn-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.mn-video__img {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 5.6%;
  left: 17%;
  width: 66.2%;
  height: 66%;
  background-image: url('../img2/ImgVideo2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 107%;
}
.mn-video__img:hover {
  background-image: url("../img2/ImgVideo2h.jpg");
}
.mn-video iframe {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 5.6%;
  left: 17%;
  width: 66.2%;
  height: 66%;
}
/*Лид форма*/
.mn-capture-form {
  margin-top: 80px;
}
.mn-wrapper-form {
  display: flex;
  justify-content: space-around;
}
.mn-wrapper-form__description {
  width: 35%;
}
.mn-wrapper-form__percent {
  margin: 15px auto 0;
  width: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.mn-wrapper-form__percent:before {
  content: "";
  display: block;
  padding-top: 75%;
}
.mn-wrapper-form__text {
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  text-shadow: 0 0 0.5px #000;
}
.mn-wrapper-form__text span {
  font-weight: 500;
  font-size: 33px;
  display: block;
  margin-bottom: 16px;
}
.capture-form-offer {
  margin-top: 5px;
  width: 27%;
  border-radius: 12px;
  text-align: center;
}
.capture-form-offer h3 {
  margin-bottom: 10px;
}
.capture-form-offer p {
  font-size: 16px;
}
.capture-form-offer__input {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.capture-form-offer input {
  border: 1px solid #8184a1;
  width: 88%;
  height: 40px !important;
  position: relative;
  display: block;
  padding-left: 20px;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #000;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  margin: 0 auto 30px;
}
.capture-form-offer button {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  width: 88%;
  height: 40px;
  color: #fff;
  outline: none;
  background: #de264a;
  background: -moz-linear-gradient(-45deg, #cb2243 0%, #e55d76 36%, #f22951 69%, #fe2b55 100%);
  background: -webkit-linear-gradient(-45deg, #cb2243 0%, #e55d76 36%, #f22951 69%, #fe2b55 100%);
  background: linear-gradient(135deg, #cb2243 0%, #e55d76 36%, #f22951 69%, #fe2b55 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de264a', endColorstr='#dda6b0', GradientType=1);
}
.capture-form-offer button:hover {
  background: #dd5a72;
  background: -moz-linear-gradient(-45deg, #fe2b55 0%, #f22951 36%, #e55d76 69%, #cb2243 100%);
  background: -webkit-linear-gradient(-45deg, #fe2b55 0%, #f22951 36%, #e55d76 69%, #cb2243 100%);
  background: linear-gradient(135deg, #fe2b55 0%, #f22951 36%, #e55d76 69%, #cb2243 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd5a72', endColorstr='#de264a', GradientType=1);
}
.mn-wrapper-form__arrow {
  width: 15%;
  transform: rotate(129deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.mn-wrapper-form__arrow:before {
  content: "";
  display: block;
  padding-top: 95%;
}
/*------------------------------*/

/*----------------------Сервисные центры-------------------------*/
/*Модальное окно*/
/*Модальное окно*/
.parent {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /*display: flex;*/
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  z-index: 1100;
  display: none;
}
.parent #block {
  position: relative;
  width: 80%;
  height: 50%;
  border: 1px solid #7b7a7a;
  background: #fff;
  box-shadow: 0 0 4px 0 #7b7a7a;
}
img {
  display: block;
  border: none;
}
#lean_overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: none;
}
.close-menu {
  position: absolute;
  width: 18px;
  height: 18px;
  right: -10px;
  top: -10px;
  font-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img3/IconClose.png");
  cursor: pointer;
  z-index: 10;
}
/*Блок поиск городов - написать в центральный сервис*/
.sc-container-search-town {
  margin-top: 30px;
  padding: 50px 0;
  box-shadow: 0 0 9px 3px rgba(254, 73, 70, 0.2);
}
.sc-container-search-town:focus-within {
  box-shadow: 0 0 9px 3px rgba(254, 73, 70, 0.28);
}
.sc-wrapper-search-town {
  width: 80%;
  margin: 0 auto;
}
.sc-searh-form {
  height: 45px;
  width: 100%;
}
.sc-searh-form__wrap {
  padding-left: 20px;
  display: flex;
  height: 100%;
  border: 1px solid #979292;
  border-radius: 6px;
}
.sc-searh-form__wrap:hover,
.sc-searh-form__wrap:focus,
.sc-searh-form__wrap:focus-within {
  box-shadow: 0 0 7px 1px #ded2d2;
}
.sc-searh-form__wrap input {
  border-radius: 6px;
  width: calc(100% - 30px);
  /*padding-left: 15px;*/
  margin-left: 15px;
  font-size: 18px;
  color: #888888;
  border: none;
  outline: none;
}
.sc-searh-form__wrap input.input-hover {
  box-shadow: 0 0 7px 1px #ded2d2;
}
.sc-searh-form__icon {
  height: 100%;
  width: 30px;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  background-image: url("../img3/IconSearch.png");
}
.sc-searh-input {
  display: flex;
}
.sc-activate-write-center-active:before {
  content: "-";
}
.sc-activate-write-center-not:before {
  content: "+";
}
.sc-activate-write-center {
  width: max-content;
  margin-top: 15px;
  cursor: pointer;
}
.sc-activate-write-center:before {
  margin-right: 8px;
  text-shadow: 0 0 1px #000;
}
.sc-activate-write-center:after {
  content: "";
  display: block;
  width: 94%;
  height: 1px;
  border-bottom: 1px dashed;
  margin-left: 20px;
}
/*Форма написать в центр*/
.sc-write-center-form {
  margin-top: 20px;
  display: none;
}
.sc-write-center-form button {
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  width: 40%;
  min-width: 280px;
  height: 40px;
  color: #fff;
  outline: none;
  background: #008d55;
  background: -moz-linear-gradient(-45deg, #008d55 0%, #63b84f 69%, #63b84f 69%);
  background: -webkit-linear-gradient(-45deg, #008d55 0%, #63b84f 69%, #63b84f 69%);
  background: linear-gradient(135deg, #008d55 0%, #63b84f 69%, #63b84f 69%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008d55', endColorstr='#63b84f', GradientType=1);
  margin-top: 20px;
}
.sc-write-center-form button:hover {
  background: #63b84f;
  background: -moz-linear-gradient(-45deg, #63b84f 0%, #008d55 69%);
  background: -webkit-linear-gradient(-45deg, #63b84f 0%, #008d55 69%);
  background: linear-gradient(135deg, #63b84f 0%, #008d55 69%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b84f', endColorstr='#008d55', GradientType=1);
}
.sc-write-center-form input {
  display: block;
  border-radius: 6px;
  width: 40%;
  height: 35px;
  padding-left: 15px;
  font-size: 15px;
  color: #888888;
  border: 1px solid #888888;
  outline: none;
  font-family: 'OpenSans', sans-serif;
}
.sc-write-center-form input:not(:last-child) {
  margin-bottom: 5px;
}
.sc-write-center-form input.input-hover {
  box-shadow: 0 0 7px 1px #ded2d2;
}
.sc-write-center-form input:-moz-placeholder {
  color: #888888;
}
.sc-write-center-form input::-webkit-input-placeholder {
  color: #888888;
}
.write-center-textarea {
  width: 40%;
  height: 100px;
  border: 1px solid #888888;
  border-radius: 6px;
  padding-left: 15px;
  padding-top: 15px;
}
.write-center-textarea textarea {
  display: block;
  border-radius: 6px;
  border: none;
  width: 100%;
  font-family: 'OpenSans', sans-serif;
  height: 100%;
  font-size: 15px;
  color: #888888;
  resize: none;
  outline: none;
}
/**/
.sc-wrapper-service {
  margin-top: 40px;
}
.sc-wrapper-service .row-3-column {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
.sc-wrapper-service .row-3-column__col {
  position: relative;
  width: calc(100%/3 - 5px*2);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.sc-service {
  box-shadow: 0 2px 5px 1px #c7c7c7;
  padding: 10px 5px 5px 10px;
}
.sc-service__information {
  display: flex;
  align-items: center;
  height: 100%;
}
.sc-service:nth-child(4n+1) .sc-service__map {
  background-image: url('../img3/ScMap2.jpg');
}
.sc-service:nth-child(4n+2) .sc-service__map {
  background-image: url('../img3/ScMap1.jpg');
}
.sc-service:nth-child(4n+3) .sc-service__map {
  background-image: url('../img3/ScMap3.jpg');
}
.sc-service:nth-child(4n+4) .sc-service__map {
  background-image: url('../img3/ScMa4.jpg');
}
.sc-service__map {
  margin-right: 10px;
  width: 30%;
  min-width: 110px;
  height: 110px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.sc-service__map p {
  font-size: 12px;
}
.sc-service__description {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sc-service__description p {
  font-size: 13px;
  padding: 0;
}
.sc-service__description p:not(.sc-service__town) {
  margin-bottom: 5px;
}
.sc-service__town {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}
.sc-service__name {
  text-shadow: 0 0 0.4px #000;
}
.sc-service__icon {
  display: flex;
  margin-top: auto;
}
.sc-service__icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #0c9be4;
}
.sc-service__icon-item:not(:last-child) {
  margin-right: 5px;
}
.sc-service__icon-item div {
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.sc-service__icon-tel div {
  background-image: url("../img3/IconTelefHotel.png");
}
.sc-service__icon-map div {
  background-image: url("../img3/IconMapHotel.png");
}
/*------------------------------*/