@media (max-width: 800px) {
  .wrap-slider-dots{
    left: 100px;
  }
  .main-page-slider__text-block{
    flex-direction: column;
  }
  .text-block__wrap-img{
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
  }
  .text-block__wrap-text{
    width: 100%;
  }
  .slide__text-info-img_right .text-block__wrap-img{
    order: -1;
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .wrap-slider-dots {
    left: 128px;
  }
  .slide__banner:before {
    content: "";
    display: block;
    padding-top: 122%;
  }
}
