@import url("fonts.css");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  background: #fff;
  height: 100%;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.wrap {
  font-family: 'Museo Sans Cyrl 100', sans-serif;
  cursor: default;
  font-size: 12px;
  line-height: normal;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}
.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
section,
header,
footer {
  display: block;
  position: relative;
}
.container {
  zoom: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
  position: relative;
}
a {
  display: block;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a img {
  text-decoration: none;
}
a:focus,
a:hover,
a:link,
a:active {
  outline: none;
  text-decoration: none;
  outline-width: 0;
}
a:hover {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  outline: none;
  text-decoration: none;
  border: none;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
button:focus {
  outline: none;
}
/*Копировать от сюда!!!!!!!!!!!!!!!!!*/
.h2-title__black {
  font-family: "Museo Sans Cyrl 500", sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #000;
  padding: 0;
  line-height: 35px;
}
.section-main-page-slider .h2-title__black {
  line-height: 45px;
  max-width: 700px;
  margin: 30px auto 100px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 1;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.section-main-page-slider .container {
  position: relative;
}
.section-main-page-slider .container:before {
  content: "";
  display: block;
  padding-top: 57.4%;
}
.container-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main-page-slider {
  width: 100%;
}
.main-page-slider__item {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slick-slide {
  outline: none;
}
@-webkit-keyframes backInLeft {
  0% {
    -webkit-transform: translateX(-2000px) scale(0.7);
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: translateX(0%) scale(0.7);
    transform: translateX(0%) scale(0.7);
    opacity: 0.7;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes backInLeft {
  0% {
    -webkit-transform: translateX(-2000px) scale(0.7);
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: translateX(0%) scale(0.7);
    transform: translateX(0%) scale(0.7);
    opacity: 0.7;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.animate__backInLeft {
  -webkit-animation-name: backInLeft;
  animation-name: backInLeft;
}
.opacity_0 {
  opacity: 0;
}
.thumb-wrap {
  width: 100%;
  height: 100%;
}
.thumb-wrap iframe {
  width: 100%;
  height: 100%;
}
.thumb-wrap img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.main-page-slider__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.text-block__wrap-img {
  width: 40%;
  position: relative;
  border-radius: 6px;
  margin-right: 20px;
}
.text-block__wrap-img img {
  max-width: 100%;
  height: auto;
  border-radius: 14px;
}
.text-block__wrap-text {
  width: calc(100% - 40% - 20px);
}
.text-block__wrap-text p {
  font-size: 18px;
  line-height: 26px;
  font-family: "Museo Sans Cyrl 300", sans-serif;
}
.slide__text-info-img_right .text-block__wrap-img {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-right: 0;
  margin-left: 20px;
}
.slide__text-info-img_right .text-block__wrap-text {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.main-page-slider__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__video:before {
  content: "";
  display: block;
  padding-top: 56.4%;
}
.slide__banner:before {
  content: "";
  display: block;
  padding-top: 70%;
}
.slide__banner__wrap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.slide__banner__text-wrap {
  position: relative;
  max-width: 800px;
  margin: auto auto 25px;
  text-align: center;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}
.slide__banner__description {
  line-height: 55px;
  font-size: 35px;
  font-family: "Museo Sans Cyrl 700", sans-serif;
}
.slide__banner__sub-description {
  font-size: 20px;
  margin-top: 10px;
}
.slide__banner__button {
  display: inline-block;
  margin: 20px auto;
  font-family: "Museo Sans Cyrl 500", sans-serif;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  color: #fff;
  outline: none;
  background: #de264a;
  background: -o-linear-gradient(315deg, #cb2243 0%, #e55d76 36%, #f22951 69%, #fe2b55 100%);
  background: linear-gradient(135deg, #cb2243 0%, #e55d76 36%, #f22951 69%, #fe2b55 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de264a', endColorstr='#dda6b0', GradientType=1);
}
.slide__banner__button:hover {
  background: #dd5a72;
  background: -o-linear-gradient(315deg, #fe2b55 0%, #f22951 36%, #e55d76 69%, #cb2243 100%);
  background: linear-gradient(135deg, #fe2b55 0%, #f22951 36%, #e55d76 69%, #cb2243 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd5a72', endColorstr='#de264a', GradientType=1);
}
.wrap-slider-dots.color-black p {
  color: #000;
}
.wrap-slider-dots__item:not(.slick-current) p:after {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}
.wrap-slider-dots .slick-list {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 80px;
}
.wrap-slider-dots .slick-current .dots-text p {
  border-color: #fff;
}
.wrap-slider-dots .slick-current .dots-text p:after {
  height: 2px;
  background-color: #000;
  -webkit-animation-name: animation-dots;
  animation-name: animation-dots;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.wrap-slider-dots .slick-current .dots-text p:before {
  border-color: #000;
}
.dots-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 10px;
  position: relative;
}
.dots-text:not(.slick-active):after {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}
.dots-text p {
  font-family: "Museo Sans Cyrl 500", sans-serif;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;
  padding: 5px 5px;
  border-radius: 6px;
}
.dots-text p:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.dots-text p:before {
  content: "";
  display: block;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
}
.dots-text.slick-active {
  border-color: #000;
}
.dots-text.slick-active:after {
  -webkit-animation-name: animation-dots;
  animation-name: animation-dots;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.dots-text.slick-active:before {
  border-color: #fff;
}
@-webkit-keyframes animation-dots {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    background-color: #fff;
  }
  90% {
    background-color: #fff;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background-color: #000;
  }
}
@keyframes animation-dots {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    background-color: #fff;
  }
  90% {
    background-color: #fff;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background-color: #000;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .section-main-page-slider .h2-title__black {
    max-height: 45px;
    overflow: hidden;
    max-width: 100%;
  }
  .slide__banner__text-wrap {
    max-width: 100%;
  }
}
