

@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue/HelveticaNeueBold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeue/HelveticaNeueBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/HelveticaNeue/HelveticaNeueBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/HelveticaNeue/HelveticaNeueBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/HelveticaNeue/HelveticaNeueBold.woff") format("woff"); /* Modern Browsers */
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue/HelveticaNeue.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeue/HelveticaNeue.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/HelveticaNeue/HelveticaNeue.svg") format("svg"), /* Legacy iOS */
    url("../fonts/HelveticaNeue/HelveticaNeue.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/HelveticaNeue/HelveticaNeue.woff") format("woff"); /* Modern Browsers */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue/HelveticaNeueLight.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeue/HelveticaNeueLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/HelveticaNeue/HelveticaNeueLight.svg") format("svg"), /* Legacy iOS */
    url("../fonts/HelveticaNeue/HelveticaNeueLight.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/HelveticaNeue/HelveticaNeueLight.woff") format("woff"); /* Modern Browsers */
    font-weight: 300;
    font-style: normal;
}



@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff") format("woff"); /* Modern Browsers */
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff") format("woff"); /* Modern Browsers */
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff") format("woff"); /* Modern Browsers */
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot"); /* IE9 Compat Modes */
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff") format("woff"); /* Modern Browsers */
    font-weight: 300;
    font-style: normal;
}

