*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}




#grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,200px);
    grid-gap: 20px;
}
#grid>div{
    /*margin-bottom: 10px;*/
    background-color: gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}