@font-face {
font-family: 'FontAwesoome';
src: url('FontAwesoome/fonts/fontawesome-webfont.eot');
src: url('FontAwesoome/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
url('FontAwesoome/fonts/fontawesome-webfont.woff') format('woff'),
url('FontAwesoome/fonts/fontawesome-webfont.ttf') format('truetype'),
url('FontAwesoome/fonts/fontawesome-webfont.svg') format('svg');
font-weight: normal;
font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/RobotoBold.eot');
    src: url('../fonts/Roboto/RobotoBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/RobotoBold.woff') format('woff'),
    url('../fonts/Roboto/RobotoBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/RobotoMedium.eot');
    src: url('../fonts/Roboto/RobotoMedium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/RobotoMedium.woff') format('woff'),
    url('../fonts/Roboto/RobotoMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/RobotoRegular.eot');
    src: url('../fonts/Roboto/RobotoRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/RobotoRegular.woff') format('woff'),
    url('../fonts/Roboto/RobotoRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/RobotoLight.eot');
    src: url('../fonts/Roboto/RobotoLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/RobotoLight.woff') format('woff'),
    url('../fonts/Roboto/RobotoLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/Icomoon/icomoon.eot');
    src:  url('../fonts/Icomoon/icomoon.eot?2pq157#iefix') format('embedded-opentype'),
    url('../fonts/Icomoon/icomoon.ttf?2pq157') format('truetype'),
    url('../fonts/Icomoon/icomoon.woff?2pq157') format('woff'),
    url('../fonts/Icomoon/icomoon.svg?2pq157#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}