@import url("fonts.css");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000;
  cursor: default;
  font-size: 12px;
  line-height: normal;
  background: #fff;
  height: 100%;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.wrap {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}
.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
section,
header,
footer {
  display: block;
  position: relative;
}
.container {
  zoom: 1;
  width: 100%;
  max-width: 930px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
a {
  display: block;
  color: #000;
  text-decoration: none;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a img {
  text-decoration: none;
}
a:focus,
a:hover,
a:link,
a:active {
  outline: none!important;
  text-decoration: none!important;
  outline-width: 0;
}
a:hover {
  text-decoration: none!important;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  outline: none;
  text-decoration: none;
  border: none;
}
button:focus {
  outline: none;
}
input {
  position: relative;
  display: block;
  font-size: 15px;
  color: #000;
  padding-left: 15px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  /*height: 51px;*/
  outline: none;
}
input:-moz-placeholder {
  color: #b7bfd2;
}
input::-webkit-input-placeholder {
  color: #b7bfd2;
}
textarea {
  /*Стили для поля ввода*/
  padding-left: 15px;
  font-family: 'Open Sans', sans-serif;
  resize: none;
  outline: none;
}
textarea:-moz-placeholder {
  color: #a2a5b2;
}
textarea::-webkit-input-placeholder {
  color: #a2a5b2;
}
input:focus,
textarea:focus {
  outline: none;
}
/*Общие классы*/
.full-block-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#lean_overlay {
  display: none;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
/*Хедер*/
.wrap-media-menu {
  position: absolute;
  top: 0;
  right: 60px;
  z-index: 10;
  cursor: pointer;
}
.icon-media-menu {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none;
  position: fixed;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.icon-media-menu i {
  font-size: 30px;
  color: #000;
}
.header {
  background-color: #fff;
  background: url("../img/CircleLeft.png") top left no-repeat, url("../img/CircleRight.png") top right no-repeat;
  padding: 20px 0 29px;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 38%;
  min-width: 300px;
}
.header-logo__icon {
  width: 134px;
  height: 49px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-logo__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-logo__description:before {
  content: "";
  display: block;
  width: 2px;
  background-color: #e2e3e7;
  margin: 0 25px;
}
.header-logo__description p {
  width: 60%;
  max-width: 110px;
  font-size: 12px;
  font-family: "Corbel", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #596167;
}
.header-navigation {
  padding-left: 15px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-navigation__item {
  position: relative;
}
.header-navigation__item:not(:last-child) {
  margin-right: 14px;
}
.header-navigation__item a {
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #596167;
}
.header-navigation__item:hover > a {
  text-shadow: 0 0 #848484;
}
.header-navigation__item.active a {
  color: #000000;
}
.header-navigation__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.total-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #f6f049;
  margin-top: -7px;
  margin-left: -8px;
}
.total-amount p {
  font-size: 14px;
}
.header-select-language {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-top: 7px;
}
.header-select-language__icon {
  width: 29px;
  height: 29px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 3px;
}
.header-select-language__title {
  font-size: 12px;
  color: #596167;
}
.section-video {
  position: relative;
  max-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  min-height: 300px;
}
.section-video:hover > .section-video__button {
  background-color: #d66364;
}
.section-video__button {
  width: 158px;
  height: 158px;
  border-radius: 50%;
  background-color: #f27071;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.section-video__icon-button {
  width: 46px;
  height: 54px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/Play.png");
  margin-right: -16px;
  margin-top: -4px;
}
.section-video:before {
  content: "";
  display: block;
  padding-top: 37%;
}
.section-company {
  padding-bottom: 20px;
}
.section-company__header {
  padding: 20px 0 31px;
  background-color: #65bde7;
}
.section-company__body {
  padding-top: 41px;
}
.h2-title {
  font-size: 36px;
  color: #fff;
  text-align: center;
}
.list-company {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.list-company__item {
  cursor: pointer;
  padding-right: 11px;
}
.list-company__item:hover > .list-company__item-hover {
  display: block;
}
.list-company__item:hover > .list-company__item-active {
  opacity: 0;
}
.list-company__item-hover {
  width: 100%;
  position: absolute;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: none;
  background-color: #f6f049;
  color: #282f37;
  padding: 25px 25px 35px;
}
.list-company__item-hover h3 {
  font-size: 16px;
  font-weight: 400;
}
.list-company__item-hover p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 200;
}
.list-company__item-active {
  position: relative;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #f4f4f4;
}
.list-company__item-active:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.list-company__item-active img {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
}
.bg-color-black {
  background-color: #282f37;
}
.bg-color-blur {
  background-color: #02b4d8;
}
.bg-color-grey {
  background-color: #e6e6e6;
}
.section-project {
  padding-top: 77px;
  padding-bottom: 57px;
}
.section-project__header {
  background-color: #f27071;
  padding: 21px 0 31px;
}
.section-project__body {
  padding-top: 44px;
}
.list-project__item {
  position: relative;
  border: 1px solid #eeeeee;
  border-radius: 50%;
}
.list-project__item:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.list-project__item img {
  position: absolute;
  width: 60%;
  height: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
}
.section-customers {
  padding-top: 38px;
  padding-bottom: 133px;
  background-color: #f0f0f0;
}
.block-customers .row-3-in-col-mar-10.mar-bottom .col-flex:not(:nth-last-child(-1n+3)) {
  margin-bottom: 30px;
}
.block-customers h3 {
  font-size: 30px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 29px;
}
.block-customers__item {
  min-height: 41px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.block-customers:first-child .block-customers__item:first-child {
  background-size: 90%;
}
.block-customers:first-child .block-customers__item:nth-child(2) {
  background-size: 71%;
}
.block-customers:first-child .block-customers__item:nth-child(3) {
  background-size: 71%;
  background-position: 8px;
}
.block-customers:first-child .block-customers__item:nth-child(6) {
  background-size: 52%;
  background-position: 15px;
}
.block-customers:first-child .block-customers__item img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.block-customers:nth-child(2) {
  padding-left: 9px;
}
.block-customers:nth-child(2) .block-customers__item:first-child {
  background-size: 100%;
}
.block-customers:nth-child(2) .block-customers__item:nth-child(2) {
  background-size: 88%;
  background-position: 24px;
}
.block-customers:nth-child(2) .block-customers__item:nth-child(3) {
  background-size: 76%;
  background-position: 2px 10px;
}
.block-customers:nth-child(2) .block-customers__item:nth-child(5) {
  background-size: 82%;
  background-position: 1px;
}
.block-customers:nth-child(2) .block-customers__item:nth-child(6) {
  background-size: 52%;
  background-position: 15px;
}
.block-customers:nth-child(2) .block-customers__item img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .block-customers .row-3-in-col-mar-10 > .col-flex {
    width: 30%;
  }
}
.section-slider-reviews {
  padding-top: 16px;
  padding-bottom: 20px;
  background-color: #282f38;
}
.rapper-slider-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.slider-reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 71%;
  margin-left: auto;
  margin-right: 68px;
}
.slider-reviews__col-left {
  width: 175px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-weight: 200;
  text-align: right;
}
.slider-reviews__name {
  color: #fff;
  font-size: 19px;
}
.slider-reviews__position {
  color: #616d78;
  font-size: 14px;
}
.slider-reviews__col-center {
  margin: 0 22px;
}
.slider-reviews__date {
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-weight: 200;
  margin-bottom: 12px;
}
.slider-reviews__phrase {
  font-size: 15px;
  font-style: italic;
  color: #fff;
  font-weight: 200;
}
.slider-reviews__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}
.slider-reviews__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.slider-reviews__col-right {
  width: 47%;
}
.slider-reviews .owl-nav button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15px;
  height: 25px;
  background-position: center!important;
  background-repeat: no-repeat !important;
  background-size: contain!important;
}
.slider-reviews .owl-prev {
  left: 0;
  top: 28px;
  background-image: url(../img/ArrowLeft.png) !important;
}
.slider-reviews .owl-prev:hover {
  left: -1px;
}
.slider-reviews .owl-next {
  right: 0;
  top: 28px;
  background-image: url(../img/ArrowRight.png) !important;
}
.slider-reviews .owl-next:hover {
  right: -1px;
}
.wrapper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer {
  background-color: #171b20;
  padding-top: 44px;
  padding-bottom: 52px;
}
.footer__col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-menu__item:hover > a {
  color: #989898;
}
.footer-menu__item:not(:last-child) {
  margin-left: 5px;
}
.footer-menu__item a {
  padding: 5px;
  font-weight: 200;
  font-size: 18px;
  color: #fff;
}
.footer-adress {
  margin-top: 40px;
  width: 69%;
}
.footer-adress__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-adress__item:before {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 5px;
  content: "";
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/Metka.png");
  width: 16px;
  height: 22px;
}
.footer-adress__item:not(:last-child) {
  margin-bottom: 5px;
}
.footer-adress__item p {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}
.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.social-networks__item {
  height: 38px;
  width: 38px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
}
.social-networks__item:not(:last-child) {
  margin-right: 5px;
}
.social-networks__item p {
  color: #596167;
  font-size: 22px;
  font-weight: 500;
}
.footer__wrap-tel {
  margin-top: 34px;
  font-weight: 200;
  text-align: right;
}
.footer__mail {
  font-size: 18px;
  color: #65bde7;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.footer__tel {
  font-size: 18px;
  color: #fff;
  margin-top: 5px;
}
.footer__company-production {
  margin-top: auto;
}
.footer__company-production p {
  font-weight: 200;
  font-size: 14px;
  text-align: right;
  color: #fff;
}
/*1 колонка*/
/*margin 0*/
[class*="row-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row-3-col-mar-10 {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -20px;
}
.row-3-col-mar-10 > .col-flex {
  position: relative;
  width: calc(100%/3 - 10px*2);
  margin-left: 10px;
  margin-right: 10px;
}
.row-3-col-mar-10.mar-bottom > .col-flex {
  margin-bottom: 20px;
}
/*margin 20px*/
/*----------------------------------------------------------*/
.row-3-col-mar-20 {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -40px;
}
.row-3-col-mar-20 > .col-flex {
  position: relative;
  width: calc(100%/3 - 20px*2);
  margin-left: 20px;
  margin-right: 20px;
}
.row-3-col-mar-20.mar-bottom > .col-flex {
  margin-bottom: 40px;
}
/*----------------------------------------------------------*/
.row-4-col-mar-20 {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -40px;
}
.row-4-col-mar-20 > .col-flex {
  position: relative;
  width: calc(100%/4 - 20px*2);
  margin-left: 20px;
  margin-right: 20px;
}
.row-4-col-mar-20.mar-bottom > .col-flex {
  margin-bottom: 40px;
}
/*margin 30px*/
.row-2-col-mar-30 {
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: -60px;
}
.row-2-col-mar-30 > .col-flex {
  position: relative;
  width: calc(100%/2 - 30px*2);
  margin-left: 30px;
  margin-right: 30px;
}
.row-2-col-mar-30.mar-bottom > .col-flex {
  margin-bottom: 60px;
}
/*экран шириной меньшей 768px - md*/
@media screen and (max-width: 768px) {
  /*Для колонок с одинаковой шириной меняю отступ*/
  [class*="mar-"].row-1-col-md-mar-0 {
    margin-left: 0;
    margin-right: 0;
  }
  [class*="mar-"].row-1-col-md-mar-0 > [class*='col-flex'] {
    width: calc(100% / 1);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  [class*="mar-"].row-1-col-md-mar-0.mar-bottom > [class*='col-flex'] {
    margin-bottom: 0;
  }
  /*Убираю нижние отступы у самых нижних блоков*/
  [class*="mar-"].row-2-col-md-mar-20 {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -40px;
  }
  [class*="mar-"].row-2-col-md-mar-20 > [class*='col-flex'] {
    width: calc(100% / 2 - 20px * 2);
    margin-left: 20px;
    margin-right: 20px;
  }
  [class*="mar-"].row-2-col-md-mar-20.mar-bottom > [class*='col-flex']:not(:nth-last-child(-n+2)) {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 576px) {
  /*Для колонок с одинаковой шириной меняю отступ*/
  [class*="mar-"].row-1-col-sm-mar-10 {
    margin-left: 0;
    margin-right: 0;
  }
  [class*="mar-"].row-1-col-sm-mar-10 > [class*='col-flex'] {
    width: calc(100% / 1);
    margin-left: 0;
    margin-right: 0;
  }
  [class*="mar-"].row-1-col-sm-mar-10.mar-bottom > [class*='col-flex'] {
    margin-bottom: 20px;
  }
  [class*="mar-"].row-2-col-sm-mar-5 {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -10px;
  }
  [class*="mar-"].row-2-col-sm-mar-5 > [class*='col-flex'] {
    width: calc(100% / 2 - 5px * 2);
    margin-left: 5px;
    margin-right: 5px;
  }
  [class*="mar-"].row-2-col-sm-mar-5.mar-bottom > [class*='col-flex']:not(:nth-last-child(-n+2)) {
    margin-bottom: 10px;
  }
}
