.first-section-pricing{
    background-color: #eef1ec;
    padding-bottom: 63px;
}
.first-section-pricing h1{
    font-size: 32px;
    color: #0f5f5c;
    margin-top: 47px;
    margin-bottom: 10px;
}
.first-section-pricing .wrapper-rates{
    margin-top: 48px;
}

.first-section-pricing .menu-icon{
    color: #7d8e8e;
}

