@import url("fonts.css");
/*Слайдер 2 секции*/
.wrapper-slider{
    position: relative;
    width: 51%;
    max-width: 490px;
    min-width: 315px;
    box-sizing: content-box;
    margin-right: 20px;
}

.wrapper-slider .wrapper-slide img{
    width: 100%;
    height: auto;
}
.wrapper-slider .wrapper-slide-description{
    background-color: #1a425a;
    padding: 15px 10px 10px 25px;
}
.wrapper-slider .wrapper-slide-description h3{
    color: #fff;
    font-weight: 100;
}
.wrapper-slider .wrapper-slide-description p{
    color: #fff;
    font-size: 14px;
}




/*Пейджеры и стрелки*/


/* Пейджеры */
/*Настраивается расположение пейджеров*/

.wrapper-slider .bx-wrapper .bx-pager{ /*I вариант*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: -30px;
    left: 50%;

}



.wrapper-slider .bx-pager-item{/*расстояние между отдельными пейджерами */
    margin-right: 10px;
}
.wrapper-slider .bx-pager-item:last-child{
    margin-right: 0;
}


.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.wrapper-slider .bx-wrapper .bx-pager.bx-default-pager a { /*Настройка неактивных кругляшков*/
    background: #fff;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    /*margin: 10px 10px;*//*Настраивается расстояние между кругляшками*/
    outline: 0;
    border-radius: 50%;

}

.wrapper-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #2c5f7f;
}

/*Слайдер футера*/

.wrapper-about-us{
    width: 21%;
    max-width: 190px;
    min-width: 190px;
}
.wrapper-proparties{
    width: 21%;
    max-width: 190px;
    min-width: 190px;
}
.wrapper-costamer{
    /*flex-shrink: 0;*/
    max-width: 320px;

    position: relative;
    width: 51%;
    box-sizing: content-box;
}

/*Пейджеры и стрелки*/
/*Стрелки*/
.footer-slider .bx-controls-direction{
    position: absolute;
    top: 0;
    left: 210px;
}
.footer-slider .bx-prev {
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    /*text-indent: -9000px;*/
    z-index: 100;
    font-size: 17px;
    background: #6f97af;
    color: #fff;
    }

.footer-slider .bx-next{
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    top: 0;
    /*text-indent: -9000px;*/
    text-align: center;
    font-size: 17px;
    z-index: 100;
    background: #6f97af;
    color: #fff;
}
/*.bx-next:hover{*/
    /*position: absolute;*/
    /*right: -41px;*/
/*}*/










