a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

*, :after, :before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

body {
  line-height: 1
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

address {
  font-style: normal
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 0
}

input[type=search] {
  -webkit-appearance: textfield
}

input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

@font-face {
  font-family: Gilroy-Regular;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Gilroy-Regular.woff) format("woff");
  font-display: swap
}

@font-face {
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Gilroy-Medium.woff) format("woff");
  font-display: swap
}

@font-face {
  font-family: Gilroy-SemiBold;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Gilroy-SemiBold.woff) format("woff");
  font-display: swap
}

@font-face {
  font-family: Gilroy-Bold;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Gilroy-Bold.woff) format("woff");
  font-display: swap
}

html {
  font-size: 1em;
  height: 100%
}

img {
  height: auto;
  max-width: 100%
}

.banner {
  position: relative;
  overflow: hidden;
  height: 100%
}

.banner > a {
  text-decoration: none;
  color: #1c1b28
}

.banner__border {
  border: 1px solid #000
}

.banner__body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.banner__flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.banner__footnote-additional p, .banner__footnote p {
  letter-spacing: -.015em;
  color: #686d82;
  font-family: Gilroy-Medium, sans-serif
}

.banner__title {
  position: relative;
  z-index: 1;
  font-family: Gilroy-Bold, sans-serif;
  color: #1c1b28;
  letter-spacing: -.015em
}

.banner__title span {
  color: #6659b1
}

.banner__description {
  color: #1c1b28;
  font-family: Gilroy-Medium, sans-serif;
  letter-spacing: -.015em
}

.banner__container-img {
  position: absolute;
  border-radius: 50%;
  background: -o-linear-gradient(38.89deg, rgba(123, 97, 255, 0) 3.41%, rgba(123, 97, 255, .055) 29.89%, rgba(109, 82, 245, .55) 102.04%);
  background: linear-gradient(51.11deg, rgba(123, 97, 255, 0) 3.41%, rgba(123, 97, 255, .055) 29.89%, rgba(109, 82, 245, .55) 102.04%);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.banner__img {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute
}

.container-banners {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px
}

.container-banners .banner {
  margin-bottom: 30px
}

.banner__rcy-240_400 {
  width: 240px;
  height: 400px
}

.banner__body-rcy-240_400 {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 11px
}

.banner__body-rcy-240_400 .banner__footnote p {
  font-size: 9px;
  line-height: 11px
}

.banner__body-rcy-240_400 .banner__title {
  margin-top: 44px;
  font-size: 22px;
  line-height: 17px
}

.banner__body-rcy-240_400 .banner__description {
  margin-top: 16px;
  font-size: 15px;
  line-height: 17px
}

.banner__body-rcy-240_400 .banner__container-img {
  width: 200px;
  height: 200px;
  bottom: 6px
}

.banner__body-rcy-240_400 .banner__img {
  width: 240px;
  top: -1px;
  left: -20px
}

.banner__rcy-300_250 {
  width: 300px;
  height: 250px
}

.banner__body-rcy-300_250 {
  padding: 32px 11px 20px 20px
}

.banner__body-rcy-300_250 .banner__footnote {
  margin-top: auto
}

.banner__body-rcy-300_250 .banner__footnote p {
  font-size: 8px;
  line-height: 9px
}

.banner__body-rcy-300_250 .banner__title {
  font-size: 19px;
  line-height: 20px
}

.banner__body-rcy-300_250 .banner__description {
  width: 100%;
  max-width: 210px;
  margin-top: 10px;
  font-size: 15px;
  line-height: 17px
}

.banner__body-rcy-300_250 .banner__container-img {
  width: 160px;
  height: 160px;
  bottom: 4px;
  right: 17px
}

.banner__body-rcy-300_250 .banner__img {
  width: 190px;
  top: -5px;
  left: -13px
}

.banner__rcy-300_600 {
  width: 300px;
  height: 600px
}

.banner__body-rcy-300_600 {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 15px
}

.banner__body-rcy-300_600 .banner__footnote p {
  font-size: 12px;
  line-height: 14px
}

.banner__body-rcy-300_600 .banner__title {
  margin-top: 64px;
  font-size: 29px;
  line-height: 28px
}

.banner__body-rcy-300_600 .banner__description {
  width: 100%;
  max-width: 265px;
  margin-top: 20px;
  font-size: 19px;
  line-height: 21px
}

.banner__body-rcy-300_600 .banner__container-img {
  width: 280px;
  height: 280px;
  bottom: 27px;
  right: 6px
}

.banner__body-rcy-300_600 .banner__img {
  width: 292px;
  top: -3px;
  left: -1px
}

.banner__rcy-1456_180 {
  width: 1456px;
  height: 180px
}

.banner__body-rcy-1456_180 {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 10px
}

.banner__body-rcy-1456_180 .banner__flex-row {
  margin-top: 24px
}

.banner__body-rcy-1456_180 .banner__title {
  font-size: 56px;
  line-height: 46px
}

.banner__body-rcy-1456_180 .banner__description {
  margin-right: 5%;
  margin-left: auto;
  width: 100%;
  max-width: 531px;
  font-size: 28px;
  line-height: 30px
}

.banner__body-rcy-1456_180 .banner__footnote {
  margin-left: auto;
  margin-top: 30px
}

.banner__body-rcy-1456_180 .banner__footnote p {
  font-size: 10px;
  line-height: 12px
}

.banner__body-rcy-1456_180 .banner__container-img {
  width: 240px;
  height: 240px;
  top: 6px;
  left: 50%;
  -webkit-transform: translateX(-78%) rotate(-90deg);
  -ms-transform: translateX(-78%) rotate(-90deg);
  transform: translateX(-78%) rotate(-90deg)
}

.banner__body-rcy-1456_180 .banner__img {
  width: 272px;
  top: 27px;
  left: 20px
}

.banner__lik-dom {
  text-align: right;
  margin-left: auto;
  margin-right: 10px;
  font-family: Gilroy-Medium, sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -.015em;
  text-transform: uppercase;
  color: #686d82
}

.banner__rcy-640_134 {
  width: 640px;
  height: 134px
}

.banner__body-rcy-640_134 {
  padding-left: 16px;
  padding-right: 14px
}

.banner__body-rcy-640_134 .banner__flex-row {
  margin-top: 41px
}

.banner__body-rcy-640_134 .banner__title {
  font-size: 26px;
  line-height: 28px
}

.banner__body-rcy-640_134 .banner__description {
  margin-left: auto;
  width: 100%;
  max-width: 209px;
  font-size: 15px;
  line-height: 16px
}

.banner__body-rcy-640_134 .banner__footnote {
  margin-left: auto;
  margin-top: 19px
}

.banner__body-rcy-640_134 .banner__footnote p {
  text-align: right;
  font-size: 8px;
  line-height: 9px
}

.banner__body-rcy-640_134 .banner__footnote p:first-child {
  text-transform: uppercase
}

.banner__body-rcy-640_134 .banner__container-img {
  width: 160px;
  height: 160px;
  top: 2px;
  left: 50%;
  -webkit-transform: translateX(-52%) rotate(-90deg);
  -ms-transform: translateX(-52%) rotate(-90deg);
  transform: translateX(-52%) rotate(-90deg)
}

.banner__body-rcy-640_134 .banner__img {
  width: 200px;
  top: 6px;
  left: -6px
}

.banner__rcy-240_600 {
  width: 240px;
  height: 600px
}

.banner__body-rcy-240_600 {
  padding-top: 20px;
  padding-left: 18px;
  padding-right: 9px
}

.banner__body-rcy-240_600 .banner__footnote p {
  font-size: 12px;
  line-height: 14px
}

.banner__body-rcy-240_600 .banner__footnote p:last-child {
  font-size: 11px
}

.banner__body-rcy-240_600 .banner__title {
  margin-top: 65px;
  font-size: 24px;
  line-height: 28px
}

.banner__body-rcy-240_600 .banner__description {
  width: 100%;
  max-width: 209px;
  margin-top: 20px;
  font-size: 15px;
  line-height: 16px
}

.banner__body-rcy-240_600 .banner__container-img {
  width: 280px;
  height: 280px;
  bottom: 61px;
  right: -53px
}

.banner__body-rcy-240_600 .banner__img {
  width: 292px;
  top: -20px;
  left: 2px
}

.banner__rcy-300_300 {
  width: 300px;
  height: 300px
}

.banner__body-rcy-300_300 {
  padding: 32px 29px 20px 20px
}

.banner__body-rcy-300_300 .banner__footnote {
  margin-top: auto
}

.banner__body-rcy-300_300 .banner__footnote p {
  font-size: 8px;
  line-height: 9px
}

.banner__body-rcy-300_300 .banner__title {
  font-size: 22px;
  line-height: 20px
}

.banner__body-rcy-300_300 .banner__description {
  width: 100%;
  max-width: 251px;
  margin-top: 12px;
  font-size: 18px;
  line-height: 19px
}

.banner__body-rcy-300_300 .banner__container-img {
  width: 189px;
  height: 189px;
  bottom: 9px;
  right: 11px
}

.banner__body-rcy-300_300 .banner__img {
  width: 220px;
  top: -7px;
  left: -21px
}

.banner__rcy-300_500 {
  width: 300px;
  height: 500px
}

.banner__body-rcy-300_500 {
  padding: 20px 15px 20px 20px
}

.banner__body-rcy-300_500 .banner__footnote p {
  font-size: 12px;
  line-height: 14px
}

.banner__body-rcy-300_500 .banner__footnote p:last-child {
  font-size: 11px;
  line-height: 13px
}

.banner__body-rcy-300_500 .banner__title {
  margin-top: 41px;
  font-size: 27px;
  line-height: 28px
}

.banner__body-rcy-300_500 .banner__description {
  width: 100%;
  max-width: 265px;
  margin-top: 12px;
  font-size: 19px;
  line-height: 21px
}

.banner__body-rcy-300_500 .banner__container-img {
  width: 260px;
  height: 260px;
  bottom: 12px;
  right: 18px
}

.banner__body-rcy-300_500 .banner__img {
  width: 259px;
  top: 7px;
  left: -8px
}

.banner__rcy-200_300 {
  width: 200px;
  height: 300px
}

.banner__body-rcy-200_300 {
  padding: 16px 13px 20px 20px
}

.banner__body-rcy-200_300 .banner__footnote p {
  font-size: 8px;
  line-height: 9px
}

.banner__body-rcy-200_300 .banner__title {
  margin-top: 23px;
  font-size: 18px;
  line-height: 15px
}

.banner__body-rcy-200_300 .banner__description {
  width: 100%;
  max-width: 167px;
  margin-top: 12px;
  font-size: 12px;
  line-height: 13px
}

.banner__body-rcy-200_300 .banner__container-img {
  width: 160px;
  height: 160px;
  bottom: 5px;
  right: 18px
}

.banner__body-rcy-200_300 .banner__img {
  width: 195px;
  top: -7px;
  left: -21px
}

.banner__rcy-160_600 {
  width: 160px;
  height: 600px
}

.banner__body-rcy-160_600 {
  padding: 16px 3px 20px 13px
}

.banner__body-rcy-160_600 .banner__footnote p {
  font-size: 8px;
  line-height: 9px
}

.banner__body-rcy-160_600 .banner__footnote p:last-child {
  font-size: 7px;
  line-height: 8px
}

.banner__body-rcy-160_600 .banner__title {
  margin-top: 48px;
  font-size: 22px;
  line-height: 24px
}

.banner__body-rcy-160_600 .banner__description {
  width: 100%;
  max-width: 145px;
  margin-top: 26px;
  font-size: 15px;
  line-height: 16px
}

.banner__body-rcy-160_600 .banner__container-img {
  width: 259px;
  height: 259px;
  bottom: 80px;
  right: -111px
}

.banner__body-rcy-160_600 .banner__img {
  width: 229px;
  top: 2px;
  left: 13px
}

.banner__rcy-320_50 {
  width: 320px;
  height: 50px
}

.banner__body-rcy-320_50 {
  padding: 10px 4px 3px 20px
}

.banner__body-rcy-320_50 .banner__title {
  font-size: 14px;
  line-height: 14px;
  width: 100%;
  max-width: 68px
}

.banner__body-rcy-320_50 .banner__description {
  margin-left: auto;
  margin-right: 20px;
  width: 100%;
  max-width: 110px;
  font-size: 8px;
  line-height: 8px
}

.banner__body-rcy-320_50 .banner__footnote {
  margin-left: auto;
  margin-top: 0
}

.banner__body-rcy-320_50 .banner__footnote p {
  text-align: right;
  font-size: 3px;
  line-height: 4px
}

.banner__body-rcy-320_50 .banner__footnote p:last-child span {
  text-transform: uppercase
}

.banner__body-rcy-320_50 .banner__container-img {
  width: 60px;
  height: 60px;
  top: 2px;
  left: 50%;
  -webkit-transform: translateX(-83%) rotate(-90deg);
  -ms-transform: translateX(-83%) rotate(-90deg);
  transform: translateX(-83%) rotate(-90deg)
}

.banner__body-rcy-320_50 .banner__img {
  width: 76px;
  top: 3px;
  left: -4px
}

.banner__rcy-320_100 {
  width: 320px;
  height: 100px
}

.banner__body-rcy-320_100 {
  padding: 30px 11px 6px 10px
}

.banner__body-rcy-320_100 .banner__title {
  font-size: 18px;
  line-height: 18px;
  width: 100%;
  max-width: 87px
}

.banner__body-rcy-320_100 .banner__description {
  margin-left: auto;
  width: 100%;
  max-width: 100px;
  font-size: 10px;
  line-height: 10px
}

.banner__body-rcy-320_100 .banner__footnote {
  margin-left: auto;
  margin-top: auto
}

.banner__body-rcy-320_100 .banner__footnote p {
  text-align: right;
  font-size: 5px;
  line-height: 6px
}

.banner__body-rcy-320_100 .banner__footnote p:last-child span {
  text-transform: uppercase
}

.banner__body-rcy-320_100 .banner__container-img {
  width: 100px;
  height: 100px;
  top: 3px;
  left: 50%;
  -webkit-transform: translateX(-59%) rotate(-90deg);
  -ms-transform: translateX(-59%) rotate(-90deg);
  transform: translateX(-59%) rotate(-90deg)
}

.banner__body-rcy-320_100 .banner__img {
  width: 131px;
  top: -3px;
  left: -16px
}

.banner__rcy-320_480 {
  width: 320px;
  height: 480px
}

.banner__body-rcy-320_480 {
  padding: 20px 5px 10px 20px
}

.banner__body-rcy-320_480 .banner__footnote p {
  font-size: 12px;
  line-height: 14px
}

.banner__body-rcy-320_480 .banner__title {
  margin-top: 40px;
  font-size: 27px;
  line-height: 28px
}

.banner__body-rcy-320_480 .banner__description {
  width: 100%;
  max-width: 265px;
  margin-top: 12px;
  font-size: 19px;
  line-height: 21px
}

.banner__body-rcy-320_480 .banner__container-img {
  width: 260px;
  height: 260px;
  bottom: 8px;
  right: 29px
}

.banner__body-rcy-320_480 .banner__img {
  width: 259px;
  top: 9px;
  left: -9px
}

.banner__rcy-336_280 {
  width: 336px;
  height: 280px
}

.banner__body-rcy-336_280 {
  padding: 32px 20px 9px
}

.banner__body-rcy-336_280 .banner__footnote {
  margin-top: auto
}

.banner__body-rcy-336_280 .banner__footnote p {
  font-size: 8px;
  line-height: 9px
}

.banner__body-rcy-336_280 .banner__title {
  font-size: 22px;
  line-height: 20px
}

.banner__body-rcy-336_280 .banner__description {
  width: 100%;
  max-width: 251px;
  margin-top: 12px;
  font-size: 18px;
  line-height: 19px
}

.banner__body-rcy-336_280 .banner__container-img {
  width: 189px;
  height: 189px;
  bottom: 9px;
  right: 11px
}

.banner__body-rcy-336_280 .banner__img {
  width: 226px;
  top: -11px;
  left: -25px
}

.banner__rcy-480_320 {
  width: 480px;
  height: 320px
}

.banner__body-rcy-480_320 {
  padding: 32px 20px 20px
}

.banner__body-rcy-480_320 .banner__footnote {
  margin-top: auto
}

.banner__body-rcy-480_320 .banner__footnote p {
  font-size: 12px;
  line-height: 14px
}

.banner__body-rcy-480_320 .banner__title {
  font-size: 26px;
  line-height: 20px
}

.banner__body-rcy-480_320 .banner__description {
  width: 100%;
  max-width: 278px;
  margin-top: 16px;
  font-size: 20px;
  line-height: 22px
}

.banner__body-rcy-480_320 .banner__container-img {
  width: 260px;
  height: 260px;
  bottom: 8px;
  right: 21px
}

.banner__body-rcy-480_320 .banner__img {
  width: 307px;
  top: -1px;
  left: -36px
}

.banner__rcy-728_90 {
  width: 728px;
  height: 90px
}

.banner__body-rcy-728_90 {
  padding: 18px 10px 6px 100px
}

.banner__body-rcy-728_90 .banner__title {
  font-size: 28px;
  line-height: 26px;
  width: 100%;
  max-width: 136px
}

.banner__body-rcy-728_90 .banner__description {
  margin-left: auto;
  width: 100%;
  max-width: 198px;
  font-size: 14px;
  line-height: 15px;
  margin-right: 70px
}

.banner__body-rcy-728_90 .banner__footnote {
  margin-left: auto;
  margin-top: auto
}

.banner__body-rcy-728_90 .banner__footnote p {
  text-align: right;
  font-size: 6px;
  line-height: 7px
}

.banner__body-rcy-728_90 .banner__footnote p:last-child span {
  text-transform: uppercase
}

.banner__body-rcy-728_90 .banner__container-img {
  width: 120px;
  height: 120px;
  top: 4px;
  left: 50%;
  -webkit-transform: translateX(-63%) rotate(-90deg);
  -ms-transform: translateX(-63%) rotate(-90deg);
  transform: translateX(-63%) rotate(-90deg)
}

.banner__body-rcy-728_90 .banner__img {
  width: 160px;
  top: -9px;
  left: -3px
}

.banner__rcy-970_250 {
  width: 970px;
  height: 250px
}

.banner__body-rcy-970_250 {
  padding: 69px 16px 14px 40px
}

.banner__body-rcy-970_250 .banner__title {
  font-size: 58px;
  line-height: 52px;
  width: 100%;
  max-width: 280px
}

.banner__body-rcy-970_250 .banner__description {
  margin-left: auto;
  width: 100%;
  max-width: 270px;
  font-size: 27px;
  line-height: 28px;
  margin-right: 35px
}

.banner__body-rcy-970_250 .banner__footnote {
  margin-left: auto;
  margin-top: auto
}

.banner__body-rcy-970_250 .banner__footnote p {
  text-align: right;
  font-size: 10px;
  line-height: 10px
}

.banner__body-rcy-970_250 .banner__footnote p:last-child span {
  text-transform: uppercase
}

.banner__body-rcy-970_250 .banner__container-img {
  width: 240px;
  height: 240px;
  top: 19px;
  left: 50%;
  -webkit-transform: translateX(-55%) rotate(-90deg);
  -ms-transform: translateX(-55%) rotate(-90deg);
  transform: translateX(-55%) rotate(-90deg)
}

.banner__body-rcy-970_250 .banner__img {
  width: 346px;
  top: -18px;
  left: -40px
}

.banner__rcy-640_100 {
  width: 640px;
  height: 100px
}

.banner__body-rcy-640_100 {
  padding: 24px 15px 6px 40px
}

.banner__body-rcy-640_100 .banner__title {
  font-size: 28px;
  line-height: 28px;
  width: 100%;
  max-width: 136px
}

.banner__body-rcy-640_100 .banner__description {
  margin-left: auto;
  width: 100%;
  max-width: 220px;
  font-size: 16px;
  line-height: 17px;
  margin-right: 31px
}

.banner__body-rcy-640_100 .banner__footnote {
  margin-left: auto;
  margin-top: auto
}

.banner__body-rcy-640_100 .banner__footnote p {
  text-align: right;
  font-size: 6px;
  line-height: 7px
}

.banner__body-rcy-640_100 .banner__footnote p:last-child span {
  text-transform: uppercase
}

.banner__body-rcy-640_100 .banner__container-img {
  width: 120px;
  height: 120px;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-83%) rotate(-90deg);
  -ms-transform: translateX(-83%) rotate(-90deg);
  transform: translateX(-83%) rotate(-90deg)
}

.banner__body-rcy-640_100 .banner__img {
  width: 144px;
  top: 10px;
  left: 3px
}

.banner__rcy-640_134_2 {
  width: 640px;
  height: 134px
}

.banner__body-rcy-640_134_2 {
  padding: 43px 15px 10px 40px
}

.banner__body-rcy-640_134_2 .banner__title {
  font-size: 28px;
  line-height: 28px;
  width: 100%;
  max-width: 136px
}

.banner__body-rcy-640_134_2 .banner__description {
  margin-left: auto;
  width: 100%;
  max-width: 220px;
  font-size: 16px;
  line-height: 16px;
  margin-right: 1px
}

.banner__body-rcy-640_134_2 .banner__footnote {
  margin-left: auto;
  margin-top: auto
}

.banner__body-rcy-640_134_2 .banner__footnote p {
  text-align: right;
  font-size: 8px;
  line-height: 9px
}

.banner__body-rcy-640_134_2 .banner__footnote p:last-child span {
  text-transform: uppercase
}

.banner__body-rcy-640_134_2 .banner__container-img {
  width: 160px;
  height: 160px;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-65%) rotate(-90deg);
  -ms-transform: translateX(-65%) rotate(-90deg);
  transform: translateX(-65%) rotate(-90deg)
}

.banner__body-rcy-640_134_2 .banner__img {
  width: 172px;
  top: 19px;
  left: 11px
}

.banner__mail-290_170 {
  width: 290px;
  height: 170px
}

.banner__body-mail-290_170 {
  padding: 10px 10px 16px 16px
}

.banner__body-mail-290_170 .banner__footnote {
  margin-left: auto
}

.banner__body-mail-290_170 .banner__footnote p {
  text-align: right;
  font-size: 6px;
  line-height: 7px
}

.banner__body-mail-290_170 .banner__footnote p:last-child span {
  text-transform: uppercase
}

.banner__body-mail-290_170 .banner__footnote-additional {
  margin-top: auto
}

.banner__body-mail-290_170 .banner__footnote-additional p {
  font-size: 8px;
  line-height: 9px
}

.banner__body-mail-290_170 .banner__title {
  margin-top: 7px;
  font-size: 18px;
  line-height: 18px
}

.banner__body-mail-290_170 .banner__description {
  width: 100%;
  max-width: 140px;
  margin-top: 12px;
  font-size: 14px;
  line-height: 15px
}

.banner__body-mail-290_170 .banner__container-img {
  width: 120px;
  height: 120px;
  bottom: 2px;
  right: 0
}

.banner__body-mail-290_170 .banner__img {
  width: 156px;
  top: -27px;
  left: -14px
}

.banner__mail-290_330 {
  width: 290px;
  height: 330px
}

.banner__body-mail-290_330 {
  padding: 16px 16px 15px 20px
}

.banner__body-mail-290_330 .banner__footnote {
  margin-left: auto
}

.banner__body-mail-290_330 .banner__footnote p {
  text-align: right;
  font-size: 8px;
  line-height: 9px
}

.banner__body-mail-290_330 .banner__footnote p:last-child span {
  text-transform: uppercase
}

.banner__body-mail-290_330 .banner__footnote-additional {
  margin-top: auto
}

.banner__body-mail-290_330 .banner__footnote-additional p {
  font-size: 8px;
  line-height: 9px
}

.banner__body-mail-290_330 .banner__title {
  margin-top: 37px;
  font-size: 24px;
  line-height: 24px
}

.banner__body-mail-290_330 .banner__description {
  width: 100%;
  max-width: 180px;
  margin-top: 12px;
  font-size: 18px;
  line-height: 20px
}

.banner__body-mail-290_330 .banner__container-img {
  width: 166px;
  height: 166px;
  bottom: -6px;
  right: 0
}

.banner__body-mail-290_330 .banner__img {
  width: 208px;
  top: -30px;
  left: -8px
}

.banner__mail-290_290 {
  width: 290px;
  height: 290px
}

.banner__body-mail-290_290 {
  padding: 16px 16px 11px 20px
}

.banner__body-mail-290_290 .banner__footnote {
  margin-left: auto
}

.banner__body-mail-290_290 .banner__footnote p {
  text-align: right;
  font-size: 8px;
  line-height: 9px
}

.banner__body-mail-290_290 .banner__footnote p:last-child span {
  text-transform: uppercase
}

.banner__body-mail-290_290 .banner__footnote-additional {
  margin-top: auto
}

.banner__body-mail-290_290 .banner__footnote-additional p {
  font-size: 8px;
  line-height: 9px
}

.banner__body-mail-290_290 .banner__title {
  margin-top: 27px;
  font-size: 22px;
  line-height: 22px
}

.banner__body-mail-290_290 .banner__description {
  width: 100%;
  max-width: 160px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 16px
}

.banner__body-mail-290_290 .banner__container-img {
  width: 146px;
  height: 146px;
  bottom: -3px;
  right: 4px
}

.banner__body-mail-290_290 .banner__img {
  width: 209px;
  top: -47px;
  left: -11px
}

.banner__mail-600_600 {
  width: 600px;
  height: 600px
}

.banner__body-mail-600_600 {
  padding: 24px 40px 15px 20px
}

.banner__body-mail-600_600 .banner__footnote {
  margin-left: auto
}

.banner__body-mail-600_600 .banner__footnote p {
  text-align: right;
  font-size: 17px;
  line-height: 20px
}

.banner__body-mail-600_600 .banner__footnote p:nth-child(2) span {
  text-transform: uppercase
}

.banner__body-mail-600_600 .banner__container-img {
  width: 500px;
  height: 500px;
  bottom: 0;
  right: 41px
}

.banner__body-mail-600_600 .banner__img {
  width: 509px;
  top: 17px;
  left: -22px
}

.banner__mail-multi-256_256 {
  width: 256px;
  height: 256px
}

.banner__body-mail-multi-256_256 {
  padding: 24px 40px 15px 20px
}

.banner__body-mail-multi-256_256 .banner__container-img {
  width: 215px;
  height: 215px;
  bottom: 7px;
  right: 6px
}

.banner__body-mail-multi-256_256 .banner__img {
  width: 205px;
  top: 3px;
  left: 1px
}

.banner__mail-multi-600_600 {
  width: 600px;
  height: 600px
}

.banner__body-mail-multi-600_600 {
  padding: 32px 40px 15px 20px
}

.banner__body-mail-multi-600_600 .banner__footnote {
  margin-left: auto
}

.banner__body-mail-multi-600_600 .banner__footnote p {
  text-align: right;
  font-size: 17px;
  line-height: 20px
}

.banner__body-mail-multi-600_600 .banner__footnote p:nth-child(2) span {
  text-transform: uppercase
}

.banner__body-mail-multi-600_600 .banner__container-img {
  width: 455px;
  height: 455px;
  bottom: 0;
  right: 41px
}

.banner__body-mail-multi-600_600 .banner__img {
  width: 433px;
  top: 39px;
  left: -20px
}

.banner__mail-multi-1080_607 {
  width: 1080px;
  height: 607px
}

.banner__body-mail-multi-1080_607 {
  padding: 47px 15px 15px 40px
}

.banner__body-mail-multi-1080_607 .banner__footnote p {
  font-size: 24px;
  line-height: 28px
}

.banner__body-mail-multi-1080_607 .banner__footnote p:nth-child(2) span {
  text-transform: uppercase
}

.banner__body-mail-multi-1080_607 .banner__container-img {
  width: 570px;
  height: 570px;
  bottom: 6px;
  right: 139px
}

.banner__body-mail-multi-1080_607 .banner__img {
  width: 630px;
  top: 74px;
  left: -33px
}

.banner__mail-618_515 {
  width: 618px;
  height: 515px
}

.banner__body-mail-618_515 {
  padding: 16px 20px 15px
}

.banner__body-mail-618_515 .banner__footnote {
  margin-left: auto
}

.banner__body-mail-618_515 .banner__footnote p {
  text-align: right;
  font-size: 15px;
  line-height: 18px
}

.banner__body-mail-618_515 .banner__footnote p:nth-child(2) span {
  text-transform: uppercase
}

.banner__body-mail-618_515 .banner__container-img {
  width: 430px;
  height: 430px;
  bottom: 3px;
  right: 88px
}

.banner__body-mail-618_515 .banner__img {
  width: 497px;
  top: 48px;
  left: -37px
}

.banner__mail-240_400 {
  width: 240px;
  height: 400px
}

.banner__body-mail-240_400 {
  padding: 21px 5px 15px 20px
}

.banner__body-mail-240_400 .banner__footnote p {
  font-size: 9px;
  line-height: 11px
}

.banner__body-mail-240_400 .banner__footnote p:last-child span {
  text-transform: uppercase
}

.banner__body-mail-240_400 .banner__title {
  margin-top: 36px;
  font-size: 22px;
  line-height: 17px
}

.banner__body-mail-240_400 .banner__description {
  width: 100%;
  max-width: 210px;
  margin-top: 16px;
  font-size: 15px;
  line-height: 17px
}

.banner__body-mail-240_400 .banner__container-img {
  width: 200px;
  height: 200px;
  bottom: 7px;
  right: 19px
}

.banner__body-mail-240_400 .banner__img {
  width: 240px;
  top: -6px;
  left: -24px
}

.banner__mail-300_300 {
  width: 300px;
  height: 300px
}

.banner__body-mail-300_300 {
  padding: 32px 10px 8px 20px
}

.banner__body-mail-300_300 .banner__footnote {
  margin-top: auto
}

.banner__body-mail-300_300 .banner__footnote p {
  font-size: 8px;
  line-height: 9px
}

.banner__body-mail-300_300 .banner__footnote p:last-child span {
  text-transform: uppercase
}

.banner__body-mail-300_300 .banner__title {
  font-size: 22px;
  line-height: 20px
}

.banner__body-mail-300_300 .banner__description {
  width: 100%;
  max-width: 251px;
  margin-top: 12px;
  font-size: 18px;
  line-height: 19px
}

.banner__body-mail-300_300 .banner__container-img {
  width: 189px;
  height: 189px;
  bottom: 8px;
  right: 11px
}

.banner__body-mail-300_300 .banner__img {
  width: 220px;
  top: -6px;
  left: -24px
}

.banner__mail-1920_250 {
  width: 1920px;
  height: 250px
}

.banner__body-mail-1920_250 {
  padding: 81px 15px 16px 56px
}

.banner__body-mail-1920_250 .banner__title {
  font-size: 60px;
  line-height: 56px
}

.banner__body-mail-1920_250 .banner__description {
  margin-left: auto;
  width: 100%;
  max-width: 787px;
  font-size: 42px;
  line-height: 44px;
  margin-right: 82px
}

.banner__body-mail-1920_250 .banner__footnote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-top: auto;
  margin-right: 6px
}

.banner__body-mail-1920_250 .banner__footnote p {
  text-align: right;
  font-size: 16px;
  line-height: 19px
}

.banner__body-mail-1920_250 .banner__footnote p:not(:last-child) {
  margin-right: 16px
}

.banner__body-mail-1920_250 .banner__footnote p:nth-child(2) span {
  text-transform: uppercase
}

.banner__body-mail-1920_250 .banner__container-img {
  width: 300px;
  height: 300px;
  top: 4px;
  left: 50%;
  -webkit-transform: translateX(-103%) rotate(-90deg);
  -ms-transform: translateX(-103%) rotate(-90deg);
  transform: translateX(-103%) rotate(-90deg)
}

.banner__body-mail-1920_250 .banner__img {
  width: 360px;
  top: -33px;
  left: -2px
}

.banner__mail-1280_250 {
  width: 1280px;
  height: 250px
}

.banner__body-mail-1280_250 {
  padding: 54px 13px 10px 40px
}

.banner__body-mail-1280_250 .banner__title {
  font-size: 58px;
  line-height: 56px
}

.banner__body-mail-1280_250 .banner__description {
  width: 100%;
  max-width: 600px;
  font-size: 32px;
  line-height: 32px;
  margin-top: 24px
}

.banner__body-mail-1280_250 .banner__footnote {
  margin-left: auto;
  margin-top: -7px
}

.banner__body-mail-1280_250 .banner__footnote p {
  text-align: right;
  font-size: 14px;
  line-height: 16px
}

.banner__body-mail-1280_250 .banner__footnote p:nth-child(2) span {
  text-transform: uppercase
}

.banner__body-mail-1280_250 .banner__container-img {
  width: 280px;
  height: 280px;
  top: 12px;
  left: 50%;
  -webkit-transform: translateX(20%) rotate(-90deg);
  -ms-transform: translateX(20%) rotate(-90deg);
  transform: translateX(20%) rotate(-90deg)
}

.banner__body-mail-1280_250 .banner__img {
  width: 330px;
  top: -12px;
  left: 1px
}
